.transactionsPage {
    .transactionsTile {
        height: calc(100vh - 105px - 110px);
        display: flex;
        flex-direction: column;
    }
    .transactionsListContainer {
        overflow: auto;
        height: 100%;
        &::-webkit-scrollbar {
            width: 10px;
            background-color: transparent;
        }
        &::-webkit-scrollbar-thumb {
            border-radius: 10px;
            cursor: pointer;
        }
        &::-webkit-scrollbar-track {
            background-color: transparent;
            border-radius: 10px;
        }

        .transactionItem {
            width: 100%;
            height: 125px;
            display: grid;
            grid-template-columns: 35px 1fr 115px 40px;
            grid-template-rows: 100%;
            grid-gap: 20px;
            align-items: center;
            padding: 0 20px;
            border-bottom: 1px solid;
            @media screen and (max-width: 768px) {
                grid-template-columns: 100%;
                grid-template-rows: 35px 80px 50px 40px;
                grid-gap: 10px;
                padding: 20px 10px;
                height: max-content;

                .status {
                    justify-self: center;
                }
                .mainInfo,.actionInfo {
                    text-align: center !important;
                }
                .button {
                    width: 38px;
                    justify-self: center;
                }
            }

            .status {
                width: 35px;
                height: 35px;
                font-size: 25px;
                text-align: center;

                .verified {
                    color: $green;
                }
                .commited {
                    color: #aa935d;
                }
                .inProgress {
                    color: $gray;
                }
            }
            .mainInfo {
                text-align: left;

                .tooltip-wrapper {
                    display: block;
                }
                .createdAt {
                    color: $gray;
                    font-size: 12px;
                    line-height: 14px;
                    cursor: default;
                }
                .amount {
                    font-size: 24px;
                    line-height: 32px;
                }
                .token {
                    font-size: 18px;
                    line-height: 20px;
                }
            }
            .actionInfo {
                width: 100%;

                .actionType {
                    color: $gray;
                    font-size: 16px;
                    line-height: 19px;
                }
                .actionValue {
                    display: block;
                    width: 100%;
                    font-size: 16px;
                    line-height: 19px;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }
            }
        }
        .nothingFound {
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;
        }
    }
}

body.inkline { 
    &.-light {
        .transactionsPage .transactionsListContainer {
            &::-webkit-scrollbar-thumb {
                background-color: $input-border-color-focus-light;
            }

            .transactionItem {
                border-color: $input-border-color-light;
            }
        }
    }
    &.-dark {
        .transactionsPage .transactionsListContainer {
            &::-webkit-scrollbar-thumb {
                background-color: $input-border-color-focus-dark;
            }

            .transactionItem {
                border-color: $input-border-color-dark;
            }
        }
    }
}