.customButton {
  box-sizing: border-box;
  width: max-content;
  min-width: 152px;
  height: 46px;
  padding: 0 15px;
  color: $white;
  font-weight: 600;
  font-size: 15px;
  font-family: $firaSans;
  text-align: center;
  text-transform: uppercase;
  background-color: $purple;
  border: 1px solid $purple;
  border-radius: $borderRadiusMd;
  outline: none;
  box-shadow: $inputContainerShadow;
  transition: 0.2s ease;

  &.outline {
    color: $darkerGray;
    background-color: $white;
    border-color: $darkerGray;
  }

  &.red {
    color: $red;
    background-color: $redBg;
    border-color: $redBg;
  }

  &:disabled {
    color: $tempLightGray;
    background-color: $lighterGray;
    border-color: $tempLightGray;
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.06);
  }

  em, i {
    margin-right: 8px;
  }
}
