@import "custom";

.customButton {
    width: max-content;
    min-width: 152px;
    height: 46px;
    text-align: center;
    font-family: $firaSans;
    font-size: 15px;
    font-weight: 600;
    color: $white;
    text-transform: uppercase;
    border-radius: 4px;
    background-color: $purple;
    border: 1px solid $purple;
    padding: 0 15px;
    box-sizing: border-box;
    transition: .2s ease;
    box-shadow: $inputContainerShadow;
    outline: none;
    &.outline {
        color: $darkerGray;
        border-color: $darkerGray;
        background-color: $white;
    }
    &.red {
        color: $red;
        border-color: $redBg;
        background-color: $redBg;
    }
    &:disabled {
        color: #BABABA;
        border-color: #BABABA;
        background-color: $lighterGray;
        box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.06);
    }

    i {
        margin-right: 8px;
    }
}
