$white: #fff;
$lighterGray: #F6F6F6;
$mediumGrey: #f3f4f7;
$gray: #9FA6B2;
$darkerGray: #5D768E;
$purple: #4E529A;
$purpleDark: #32325D;
$red: #F25F5C;
$redBg: #FDF2F2;
$green: #5FB072;

$ibm: 'IBM Plex Sans', sans-serif;
$openSans: 'Open Sans', 'sans-serif';

@import "./input.scss";
@import "./button.scss";
@import "./alert.scss";
@import "./fieldsGroup.scss";
