
.fieldGroup {
  width: 100%;
  height: max-content;

  .label {
    margin-bottom: 5px;
    color: $purple;
    font-weight: 600;
    font-size: 17px;
    font-family: $openSans;
    text-align: left;
    text-transform: uppercase;
  }

  .fieldsSlot {
    display: flex;

    & > * {
      &:not(:first-child) {
        margin-left: 15px;
      }
    }

    .totalSum {
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 80px;
      height: 46px;
      color: $darkerGray;
      font-family: $ibm;
      white-space: nowrap;
      text-align: center;

      .headline {
        color: #64748b;
        font-weight: 400;
        font-size: 12px;
        line-height: 14px;
        text-transform: uppercase;
      }

      .value {
        font-size: 16px;
        line-height: 25px;
      }

      .source {
        font-size: 9px;
        line-height: 10px;
      }
    }
  }
}
