@import "custom";

.fieldGroup {
    width: 100%;
    height: max-content;

    .label {
        font-family: $openSans;
        font-weight: 600;
        font-size: 17px;
        color: $purple;
        text-align: left;
        text-transform: uppercase;
        margin-bottom: 5px;
    }
    .fieldsSlot {
        display: flex;

        & > * {
            &:not(:first-child) {
                margin-left: 15px;
            }
        }
        .totalSum {
            width: 80px;
            height: 46px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            text-align: center;
            color: $darkerGray;
            font-family: $ibm;
            white-space: nowrap;

            .headline {
                font-size: 12px;
                line-height: 14px;
                color: #64748B;
                font-weight: 400;
                text-transform: uppercase;
            }
            .value {
                font-size: 16px;
                line-height: 25px;
            }
            .source {
                font-size: 9px;
                line-height: 10px;
            }
        }
    }
}
