.husky
.ide-setup
.idea
.nuxt
.yarn
environments
node_modules
public
functions
functions/.eslintrc.json

## src-exceptions
src/assets/imgs
.github/workflows
.github/ISSUE_TEMPLATE
babel.config.js
src/locales