# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build
/dist
/.idea
/lib

# misc
.DS_Store
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

.firebase/
.vscode/

# cache
.cache
.brotli_cache/
.gzip_cache/
.assets_cache/
.buildx-cache/
.reports/
/src/static/sw.js
public
.nuxt
/firebase-debug.log
/report.txt
/tokens.txt
/.yarn/cache/
/.yarn/build-state.yml
/.yarn/install-state.gz
/.yarn/unplugged/

# unignore
!public/.gitignore
!.yarn/releases/*
!.yarn/plugins/*
/cypress/screenshots/examples/misc.spec.js/
/cypress/videos/examples/
