{
  "debug": false,
  "tagFormat": "${version}",
  "addReleases": "top",
  "npmPublish": false,
  "branches": [
    "+([0-9])?(.{+([0-9]),x}).x",
    "main",
    "next",
    {
      "name": "beta",
      "prerelease": true
    },
    {
      "name": "testnet",
      "prerelease": true
    }
  ],
  "plugins": [
    "@semantic-release/commit-analyzer",
    "@semantic-release/release-notes-generator",
    [ "@semantic-release/changelog", {
      "changelogFile": "CHANGELOG.md"
    } ],
    [
      "@semantic-release/npm",
      {
        "npmPublish": false
      }
    ],
    [
      "@semantic-release/exec",
      {
        "prepareCmd": "APP_GIT_VERSION=${nextRelease.version} yarn ci:generate",
        "publishCmd": "zip -r dist.zip dist"
      }
    ],
    [
      "@semantic-release/github",
      {
        "assets": [ "package.json", "yarn.lock", "CHANGELOG.md", {
          "path": "dist.zip",
          "label": "Dist package"
        } ],
        "message": "chore(release): ${nextRelease.version} [skip ci]\n\n${nextRelease.notes}"
      }
    ]
  ]
}
