.alert > .content {
  width: 200px;
  white-space: normal;
}

.button-with-icon {
  flex-flow: row !important;
  align-items: center !important;
  display: inline-flex !important;
}

.bottomDivider {
  border-bottom: 1px solid $gray !important;
}

.dropdown {
  &.firstElementHovered {
    span.arrow:after {
      border-bottom-color: $light !important;
    }
  }
}