@media (max-width: $mobile) {
  html {

    box-sizing: border-box;
  }
  body.inkline {
    overscroll-behavior-y: none;
    overscroll-behavior-x: none;

    footer.layout-footer {
      height: 4.5rem;
    }
  }

  aside.bn-onboard-custom.bn-onboard-modal {
    max-height: 100vh;

    @supports (-webkit-touch-callout: none) {
      //noinspection CssInvalidPropertyValue
      max-height: -webkit-fill-available;
    }
    padding-bottom: 5rem;
  }


  *,
  *::before,
  *::after {
    box-sizing: inherit;
    padding: 0;
    margin: 0;
  }

  header {
    background-color: #222327;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px !important;
  }

  .content {
    overflow-y: auto;
  }
  aside.bn-onboard-custom.bn-onboard-modal {
    padding: 1rem;
    align-items: flex-end;

    section.bn-onboard-custom.bn-onboard-modal-content {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      gap: 0.5rem;
      padding: 1rem;
      border-radius: 8px !important;
      height: fit-content !important;
    }

    header.bn-onboard-custom.bn-onboard-modal-content-header {
      margin: 0 !important;
    }

    button.bn-onboard-custom.bn-onboard-icon-button {
      margin: 0 0 .25rem !important;
      padding: 0.25rem !important;
    }
  }

  #__layout {
    main {
      padding: 60px 0 95px;
      height: 0 !important;

      @supports (-webkit-touch-callout: none) {
        //noinspection CssInvalidPropertyValue
        min-height: -webkit-fill-available;
      }
    }
  }
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  line-height: 1.4;
}

main > div.mobileOnly {
  display: none;
}

section.layoutContent {
  .mobileOnly {
    display: none !important;
  }
}


@media (max-width: $mobile) {
  ._mobile-no-margin {
    margin: 0.25rem 0 0 !important;
  }
  .successBlock .infoBlockItem {
    &.smaller .amount {
      font-size: 14px;
    }

    .amount {
      font-size: 18px;
    }
  }
  .defaultLayout .walletContainer.clickablePicture {
    grid-template-columns: 1fr auto;
    grid-gap: 0.25rem;
    padding: 0.25rem !important;

    .walletAddress {
      letter-spacing: -0.05rem;
      font-size: 10px;
    }

    .userImg {
      display: none;
    }

    .tooltip-wrapper {
      i.copy {
        padding: 0.25rem;
      }
    }
  }

  .transactionsPage .transactionsListContainer {
    max-height: none !important;
  }

  .footerModalContainer {

    .footer {
      position: relative;

      button.floating-on-mobile {

        position: absolute;
        right: 0.8rem;
        bottom: 0.5rem;
        width: 2.5rem !important;
        height: 2.5rem !important;
        box-shadow: $tileShadow;
      }
    }
  }
  .walletPage .balancesBlock .balances .balancesList .balanceItem .rightSide .rowItem:nth-child(2) {
    justify-content: flex-end;

    .total {
      font-family: $firaSans;
      letter-spacing: 0;
      font-size: 10px;
    }
  }
  .chooseTokenBlock {
    .tokenListContainer {
      margin: 1rem auto 0.5rem;
      overflow-x: hidden;
      overflow-y: scroll !important;
      background-color: $bgSecondary;
      border-radius: $borderRadius;
      box-shadow: $shadowInset;

      .form-input.-prefixed > .form-input.-prefixed > input {
        font-size: 16px !important;
        padding: 0.5rem 1rem 0.5rem 2.5rem !important;
      }

      &::-webkit-scrollbar {
        width: 10px;
        background-color: $tempTransparent;
      }

      &::-webkit-scrollbar-thumb {
        border-radius: $borderRadius;
        cursor: pointer;
      }

      &::-webkit-scrollbar-track {
        background-color: $tempTransparent;
        border-radius: $borderRadius;
      }

      .tokenItem {
        display: flex;
        flex-direction: row !important;
        height: 50px !important;

        .tokenSymbol, .balance {
          font-size: 16px;
        }
      }
    }
  }
  .modal.-md .header, .modal.-md .footer, .modal.-md .body {
    padding: 1rem !important;
  }
}
