//Colors
$white: #fff;
$gray: #9EAEBB;
$black: #242424;
$violet: #4e529a;
$green: #1d9b4a;
$darkViolet: #171A49; //MajorDark
$lightViolet: #8c8dfc;
$red: #F25F5C;

$link-color: $lightViolet;
$color-secondary: $violet;
/* Input */
$input-prefix-border-width: 0;
$input-border-width: 1px;
$input-border-color-dark: #ffffff14;
$input-border-color-focus-dark: #ffffff33;
$input-background-dark: #ffffff05;
$input-background-light: #00000005;
$input-border-color-light: #0000000a;
$input-border-color-focus-light: #00000033;
/* Modal */
$modal-border-radius: (md: 8px);
$modal-border-color-dark: #ffffff14;
$modal-background-dark: $darkViolet;
$modal-border-color-light: #180d0d14;
$modal-background-light: $white;


//Fonts
$firaSans: 'Fira Sans', 'sans-serif';
$firaCode: 'Fira Code', 'sans-serif';
$firaSansExtra: 'Fira Sans Extra Condensed', 'sans-serif';

$font-family-primary-base: $firaSans;

/* Transitions */
$transition1: .2s ease;
$transition2: .3s ease;

/* Blocks */
$headerDesktop: 75px;

/* Responsive */
$mobile: 768px;
$maxWidth: 1370px;
