@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.loaderSpinnerContainer {
  width: max-content;
  height: max-content;
  overflow: hidden;

  .loaderSpinner {
    position: relative;
    font-size: 10px;
    text-indent: -9999em;
    border: .5rem solid;
    transform: translateZ(0);
    animation: rotate 1.1s infinite linear;
    will-change: transform;
    &.color {
      &-white {
        border-color: $white;
        border-left-color: transparent;
      }
      &-violet {
        border-color: $violet;
        border-left-color: transparent;
      }
      &-gray {
        border-color: $gray;
        border-left-color: transparent;
      }
    }
    &.size {
      &-lg {
        &, &::after {
          width: 5rem;
          height: 5rem;
        }
      }
      &-md {
        &, &::after {
          width: 4rem;
          height: 4rem;
        }
        border-width: .35rem;
      }
      &-sm {
        &, &::after {
          width: 1.15rem;
          height: 1.15rem;
        }
        border-width: .15rem;
      }
      &-xs {
        &, &::after {
          width: .85rem;
          height: .85rem;
        }
        border-width: .12rem;
      }
    }
    &, &::after {
      border-radius: 50%;
    }
  }
}
