.modalContainer {
  will-change: opacity, transform;
  width: 100%;

  &.full {
    z-index: 4;
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: transparentize($color: $white, $amount: 0.5) !important;
    display: flex;
    align-items: center;
    justify-content: center;
    backdrop-filter: blur(10px);

    .modalMain {
      width: 90%;
    }
  }

  .modalMain {
    position: relative;
    width: 100%;
    max-width: 548px;
    height: max-content;
    background-color: $white;
    border: 1px solid #E9E8FC;
    box-shadow: 0px 2px 4px rgba(7, 4, 146, 0.1), 0px 24px 60px rgba(6, 47, 125, 0.05), 0px 12px 24px rgba(27, 59, 119, 0.05);
    border-radius: 12px;

    & > div {
      padding-left: 20px;
      padding-right: 20px;
    }
    .modalHeader {
      padding-right: 35px;
      line-height: 1.25;
      padding-top: 17px;
      padding-bottom: 10px;

      .withIcon {
        display: flex;
        align-items: center;
        font-weight: 500;

        & > i {
          margin-right: 10px;
          font-size: 24px;
        }
      }
    }
    .modalBody {
      padding-top: 10px;
      padding-bottom: 15px;
    }
    .modalFooter {
      padding-top: 15px;
      padding-bottom: 15px;
      border-radius: 0 0 12px 12px;
      background-color: $white3;
    }
  }
}

.darkMode .modalContainer {
  &.full {
    background-color: transparentize($color: $darkBlue, $amount: 0.5) !important;
  }
  .modalMain {
    background-color: $darkBlue;
    border-color: $black2;
  }
  .modalFooter {
    background-color: lighten($color: $darkBlue, $amount: 3);
  }
}
