.walletPage {
  .balancesBlock {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    min-height: 0 !important;
    align-items: stretch;

    .form-input-group {
      margin-bottom: 1rem;
    }

    .centerBlock {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: auto;
      padding-top: 30px;
      overflow: hidden;
      text-align: center;
    }

    .balances {
      width: 100%;
      display: flex;
      flex-direction: column;
      overflow: hidden;

      .balancesList {
        width: 100%;
        overflow-x: hidden;
        height: 100%;
        overflow-y: auto !important;
        background-color: $bgSecondary;
        border-radius: $borderRadius;
        box-shadow: $shadowInset;

        &.nftList {
          max-height: 35vh;
        }

        &::-webkit-scrollbar {
          width: 10px;
          background-color: $tempTransparent;
        }

        &::-webkit-scrollbar-thumb {
          border-radius: $borderRadius;
          cursor: pointer;
        }

        &::-webkit-scrollbar-track {
          background-color: $tempTransparent;
          border-radius: $borderRadius;
        }

        .balanceItem {
          display: flex;
          align-items: center;
          justify-content: space-between;
          width: 100%;
          height: 60px;
          padding: 0 20px;
          text-decoration: none;
          border-bottom: 1px solid;
          cursor: pointer;
          transition: $transition1;
          transition-property: background-color, color;

          &:last-child {
            border-bottom: none;
          }

          &:hover {
            background-color: transparentize($color: $gray, $amount: 0.9);
          }

          .tokenSymbol {
            font-size: 20px;
          }

          .status {
            width: 25px;
            height: 25px;
            font-size: 20px;
            line-height: 25px;
            text-align: center;

            .verified {
              color: $green;
            }

            .committed {
              color: #aa935d;
            }

            .inProgress {
              color: $gray;
            }

            svg {
              position: relative;
              display: block;
              top: 1.5px;
            }

            .loaderContainer {
              position: relative;
              left: 1px;
              margin-top: 1px;
              margin-left: 2px;
            }
          }

          .rightSide {
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            justify-content: center;

            .rowItem {
              display: flex;
              align-items: center;
            }

            .total {
              padding-right: 10px;
              font-size: 18px;
              line-height: 25px;

              .balancePrice {
                color: $gray;
                font-size: 16px;
              }

              &.small {
                color: $gray;
                font-size: 13px;

                .balancePrice {
                  font-size: 12px;
                }
              }
            }
          }
        }
      }
    }

    @media (max-width: $mobile) {
      height: max-content;

      .balances {
        .balancesButtonGroup {
          .button {
            width: 31%;
            display: inline-flex !important;
            align-items: center;
            margin: 0 !important;
            padding: 0 15px 0 10px !important;
            line-height: 100% !important;
            min-width: fit-content !important;
            min-height: 40px !important;

            svg {
              top: initial !important;
              max-width: 12px !important;
              width: auto !important;
              height: auto !important;
            }
          }
        }

        .balancesList .balanceItem {
          display: flex;
          height: max-content;
          align-items: center;
          padding: 0.3rem 0.5rem;
          flex-direction: row;
          gap: 0.2rem;
          justify-content: stretch;

          .tokenSymbol {
            text-align: center;
            font-size: 16px;
            letter-spacing: -0.03rem;
          }

          .rightSide {
            flex-grow: 2;
            margin-left: auto;
            display: block;

            .status {
              width: 1.5rem;
              height: 1.5rem;
              order: -1;
            }

            .rowItem {
              display: flex;
              flex-direction: row;
              justify-content: space-between;
              align-items: center;

              &:nth-child(2) {
                margin-top: 10px;
              }
            }

            .total {
              flex-direction: column;
              display: flex;
              justify-content: center;
              align-items: flex-end;
              text-align: right;
              margin-bottom: 0;
              gap: 0.2rem;
              font-size: 12px;
              line-height: 12px;
              letter-spacing: -0.05rem;
              padding-right: 0.1rem;
              font-family: $firaCode;

              .balancePrice {
                order: 1;
              }

              .tokenPrice {
                font-size: 11px;
              }
            }
          }
        }
      }
    }
  }
}

body.inkline {
  &.-light {
    .walletPage .balancesList {
      &::-webkit-scrollbar-thumb {
        background-color: $input-border-color-focus-light;
      }

      .balanceItem {
        color: $black;
        border-color: $input-border-color-light;
      }
    }
  }

  &.-dark {
    .walletPage .balancesList {
      &::-webkit-scrollbar-thumb {
        background-color: $input-border-color-focus-dark;
      }

      .balanceItem {
        color: $white;
        border-color: $input-border-color-dark;
      }
    }
  }
}

#questionMark {
  height: 30px;
  width: 30px;
  margin: -5px 0 0;
}
