.walletPage {
  .balancesBlock {
    height: calc(100vh - 105px - 316px);
    min-height: 360px;

    .form-input-group
    {
      margin-bottom: 1rem;
    }

    .centerBlock {
      width: 100%;
      height: auto;
      padding-top: 30px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      text-align: center;
    }

    .balances {
      height: calc(100% - 40px);
      width: 100%;

      .balancesList {
        height: calc(100% - 170px);
        overflow: auto;
        width: 100%;

        &::-webkit-scrollbar {
          width: 10px;
          background-color: transparent;
        }

        &::-webkit-scrollbar-thumb {
          border-radius: 10px;
          cursor: pointer;
        }

        &::-webkit-scrollbar-track {
          background-color: transparent;
          border-radius: 10px;
        }

        .balanceItem {
          align-items: center;
          border-bottom: 1px solid;
          cursor: pointer;
          display: flex;
          height: 60px;
          justify-content: space-between;
          padding: 0 20px;
          text-decoration: none;
          transition: background-color $transition1, color $transition1;
          width: 100%;

          &:hover {
            background-color: transparentize($color: $gray, $amount: 0.9);
          }

          .tokenSymbol {
            font-size: 20px;
          }

          .rightSide {
            align-items: flex-end;
            display: flex;
            flex-direction: column;
            justify-content: center;

            .rowItem {
              display: flex;
              align-items: center;
            }

            .total {
              font-size: 18px;
              line-height: 25px;
              padding-right: 10px;
              &.small {
                font-size: 13px;
                color: $gray;

                .balancePrice {
                  font-size: 12px;
                }
              }

              .balancePrice {
                font-size: 16px;
                color: $gray;
              }
            }

            .status {
              font-size: 20px;
              height: 25px;
              line-height: 25px;
              text-align: center;
              width: 25px;

              .verified {
                color: $green;
              }

              .committed {
                color: #aa935d;
              }

              .inProgress {
                color: $gray;
              }

              .loaderSpinner {
                position: relative;
                top: 3px;
                left: 2px;
              }
            }
          }
        }
      }
    }

    @media screen and (max-width: $mobile) {
      height: max-content;
      .balances {
        .balancesList {
          .balanceItem {
            display: block;
            height: max-content;
            padding: 10px 20px;

            .tokenSymbol {
              text-align: center;
            }
            .rightSide {
              display: block;

              .rowItem {
                display: flex;
                flex-direction: column;
                align-items: center;
                &:nth-child(2) {
                  margin-top: 10px;
                }
              }
              .total {
                text-align: center;

                .balancePrice {
                  display: block;
                }
              }

              .status {
                font-size: 20px;
                height: 25px;
                line-height: 25px;
                text-align: center;
                width: 25px;

                .verified {
                  color: $green;
                }

                .committed {
                  color: #aa935d;
                }

                .inProgress {
                  color: $gray;
                }

                .loaderSpinner {
                  position: relative;
                  top: 3px;
                  left: 2px;
                }
              }
            }
          }
        }
      }
    }
  }
}

body.inkline {
  &.-light {
    .walletPage .balancesList {
      &::-webkit-scrollbar-thumb {
        background-color: $input-border-color-focus-light;
      }

      .balanceItem {
        border-color: $input-border-color-light;
        color: $black;
      }
    }
  }

  &.-dark {
    .walletPage .balancesList {
      &::-webkit-scrollbar-thumb {
        background-color: $input-border-color-focus-dark;
      }

      .balanceItem {
        border-color: $input-border-color-dark;
        color: $white;
      }
    }
  }
}
