.contactsPage {
  .isDeleted {
    color: $red;
    text-align: center;
  }

  .tileBlock {
    min-height: min-content;

    @media screen and (max-width: $mobile) {
      margin-bottom: 0;
      margin-top: 0;
    }
  }
}

.modalError {
  color: $red;
  text-align: center;
}

.contactTile {
  display: flex;
  flex-direction: column;
  //height: $minRouteHeightWithExtra !important;
  min-height: 300px;

  .tileHeadline {
    display: flex;
    align-items: stretch;
    span {
      line-height: 24px;
    }
  }
}

.contactsListContainer {
  height: 100%;
  margin-top: 1rem;
  overflow: auto;
  //border-radius: $borderRadius;
  //box-shadow: $shadowInset;

  &::-webkit-scrollbar {
    width: 10px;
    background-color: $tempTransparent;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: $borderRadius;
    cursor: pointer;
  }

  &::-webkit-scrollbar-track {
    background-color: $tempTransparent;
    border-radius: $borderRadius;
  }

  .contactItem {
    display: grid;
    grid-gap: 10px;
    grid-template-rows: 100%;
    grid-template-columns: 40px 1fr max-content;
    align-items: center;
    width: 100%;
    height: 86px;
    padding: 0 20px;
    border-bottom: 1px solid;
    cursor: pointer;
    transition: background-color $transition1;
    &:last-child {
      border-bottom: none;
    }

    &:hover {
      background-color: transparentize($color: $gray, $amount: 0.9);
    }

    &.deleted {
      .contactInfo {
        color: lighten($color: $red, $amount: 10);
      }
    }

    .userImg {
      width: 30px;
      height: 30px;
      pointer-events: none;
    }

    .contactInfo {
      width: 100%;
      overflow: hidden;
      white-space: nowrap;
      text-align: left;
      pointer-events: none;

      .contactName {
        width: 100%;
        overflow: hidden;
        font-size: 24px;
        line-height: 26px;
        text-overflow: ellipsis;
      }

      .contactAddress {
        width: 100%;
        overflow: hidden;
        font-size: 12px;
        text-overflow: ellipsis;
      }
    }

    .iconsBlock {
      display: flex;
      align-items: center;
      width: 100%;

      .button {
        margin-top: 0 !important;

        &.copyAddress {
          &:active {
            color: $green !important;
            background-color: transparentize($color: $gray, $amount: 0.7) !important;
            transition: 0.001s;
          }
        }
      }
    }
  }
}

.modal .contactsListContainer {
  max-height: 60vh;

  @media (max-width: $mobile) {
    max-height: 55vh;
  }
}

body.inkline {
  &.-light {
    .contactsListContainer {
      &::-webkit-scrollbar-thumb {
        background-color: $input-border-color-focus-light;
      }

      .contactItem {
        border-color: $input-border-color-light;
      }
    }
  }

  &.-dark {
    .contactsListContainer {
      &::-webkit-scrollbar-thumb {
        background-color: $input-border-color-focus-dark;
      }

      .contactItem {
        border-color: $input-border-color-dark;
      }
    }
  }
}
