.depositPage {
  .goBackContinueBtns {
    display: grid;
    width: 100%;
    height: max-content;
    grid-template-columns: max-content 1fr;
    grid-template-rows: 100%;
    grid-gap: 0.8rem;
  }
}
