.indexPage {
  height: calc(100vh - 175px);
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;

  @media (max-width: $mobile) {
    display: block;
    height: auto;
  }
}
