.indexPage {
  width: 100%;
  height: 100%;

  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    //min-height: $minRouteHeightWithExtra;

    h1 {
      font-weight: 800;
      font-size: 24px;
      text-align: center;
    }

    .connections {
      justify-content: space-evenly;
      min-width: 40%;
      max-width: 100%;

      .tileContainer {
        margin-left: 1rem;
        margin-right: 1rem;
      }
    }

    .noteContainer {
      max-width: 480px;
      margin: 0 auto;
    }
  }

  @media (max-width: $mobile) {
    .container {
      padding-top: 2rem;

      h1 {
        max-width: 350px;
        line-height: 35px;
        margin-bottom: 0.25rem;
      }
    }
  }
}
