@import "../variables";
@import "../components/custom/custom";

.indexPage {
  background-color: $mediumGrey;
  transition: background-color $transition1;

  .indexFullScreen {
    position: relative;
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;

    .scrollDown {
      position: absolute;
      bottom: 20px;
      left: 0;
      right: 0;
      margin: 0 auto;
      display: flex;
      width: max-content;
      height: max-content;
      align-items: center;
      color: $gray;
      border: 1px solid transparent;
      border-radius: 15px;
      padding: 8px 15px;
      transition: $transition1;
      cursor: pointer;
      &:hover {
        border-color: transparentize($color: $gray, $amount: 0.5);
      }
      i {
        font-size: 16px;
        //color: lighten($color: $gray, $amount: 20);
      }
      span {
        font-size: 10px;
        text-align: left;
        padding-left: 10px;
        text-transform: uppercase;
      }
    }
  }
  .aboutZkSync {
    max-width: 500px;
    font-size: 20px;
  }
  .featuresContainer {
    margin: 0 auto;
    max-width: 950px;

    .featureItem {
      img {
        width: 100px;
        height: 100px;
        margin-bottom: 20px;
      }

      .featureHeadline {
        font-weight: 500;
        font-size: 22px;
      }
      .featureText {
        font-size: 16px;
        font-weight: 400;
        margin: 12px 0 0;
      }
    }
  }

  @media (max-width: $mobile) {
    .indexFullScreen {
      display: block;
      height: auto;
      padding-bottom: 80px;

      .aboutZkSync {
        max-width: 90%;
        font-size: 16px;
      }
    }
    .featuresContainer {
      .featureItem {
        margin-bottom: 30px;

        .featureHeadline {
          font-size: 20px;
        }
        .featureText {
          font-size: 14px;
          margin-top: 8px;
          max-width: 300px;
          margin-left: auto;
          margin-right: auto;
        }
      }
    }
  }
}

body.inkline {
  &.-light .indexPage {
    background-color: $white;
  }
}
