.tokenAccount {
  .infoBlock {
    .headline {
      font-size: 16px;
    }

    .balance {
      font-size: 20px;

      .balancePrice {
        color: $gray;
        font-size: 16px;
      }
    }
  }

  .transactionsTile {
    min-height: 250px !important;
  }
}

.balanceWithdraw {
  @media screen and (max-width: $mobile) {
    flex-direction: column;

    & > .infoBlock {
      margin-bottom: 10px;
    }
  }
}
