.tokenAccount {
  .infoBlock {
    .headline {
      font-size: 16px;
    }

    .balance {
      font-size: 20px;

      .balancePrice {
        color: $gray;
        font-size: 16px;
      }
    }
  }
  .tileBlock.transactionsTile {
    height: calc(100vh - 82px - 80px - 300px) !important;
  }
  .transactionsTile {
    height: $minRouteHeightMain !important;
    min-height: 250px !important;

    @media (max-width: $mobile) {
      height: $minRouteHeightMain !important;
    }
  }
}

.balanceWithdraw {
  @media screen and (max-width: 768px) {
    flex-direction: column;

    & > .infoBlock {
      margin-bottom: 10px;
    }
  }
}
