.tokenAccount {
  .infoBlock {
    .headline {
      font-size: 16px;
    }

    .balance {
      font-size: 20px;

      .balancePrice {
        color: $gray;
        font-size: 16px;
      }
    }
  }

  .transactionsTile {
    min-height: 250px !important;
  }

  @media screen and (max-width: $mobile) {
    .balance, .balancePrice {
      font-size: $fontSizeRegular;



    }
  }
}

@media screen and (max-width: $mobile) {
  .balance, .balancePrice {
    font-size: $fontSizeRegular;
  }
  .balanceWithdraw {
    flex-direction: column;

    & > .infoBlock {
      margin-bottom: 10px;
    }
  }
}
