.transactionsPage {
  .transactionsTile {
    display: flex;
    flex-direction: column;
    //height: $minRouteHeightWithExtra !important;
    min-height: 350px;
    justify-content: center;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 15px;
    text-align: center;
  }

  .transactionsListContainer {
    height: 100%;
    max-height: 60vh;
    overflow: auto;
    border-radius: $borderRadiusSm !important;
    box-shadow: $shadowInset;

    &::-webkit-scrollbar {
      width: 10px;
      background-color: $tempTransparent;
    }

    &::-webkit-scrollbar-thumb {
      border-radius: $borderRadius;
      cursor: pointer;
    }

    &::-webkit-scrollbar-track {
      background-color: $tempTransparent;
      border-radius: $borderRadius;
    }

    .transactionItem {
      display: grid;
      grid-gap: 10px;
      grid-template-rows: 100%;
      grid-template-columns: 30px 1fr 180px 35px;
      align-items: center;
      width: 100%;
      height: 90px;
      padding: 0 15px;
      border-bottom: 1px solid;

      &:hover {
        background-color: transparentize($color: $gray, $amount: 0.9);
      }

      .status {
        width: 35px;
        height: 35px;
        font-size: 25px;
        text-align: center;

        .verified {
          color: $green;
        }

        .committed {
          color: #aa935d;
        }

        .inProgress {
          color: $gray;
        }

        .rejected {
          color: $red;
        }
      }

      .tooltip-wrapper {
        display: block;

        .tooltip {
          max-width: 200px;
          height: auto;
          white-space: initial;
          width: max-content;
        }
      }

      .mainInfo {
        text-align: left;

        .createdAt {
          color: $gray;
          font-size: 12px;
          line-height: 14px;
          cursor: default;
        }

        .amount {
          font-size: 24px;
          line-height: 32px;

          &.small {
            font-size: $fontSizeRegular;
          }
        }

        .tokenSymbol {
          font-size: $tempFontSizeMedium;
          line-height: 20px;
        }
      }

      .actionInfo {
        width: 100%;

        .actionType {
          display: flex;
          align-items: center;
          color: $gray;
          font-size: 16px;
          line-height: 19px;

          @media screen and (max-width: $mobile) {
            justify-content: center;
          }

          em {
            margin-left: 5px;
            font-size: 22px;
            line-height: 22px;

            &.modalOpenIcon {
              transition: filter $transition1;
              cursor: pointer;

              &:hover {
                filter: brightness(125%);
              }

              &:active {
                transition-duration: 0.001s;
                filter: brightness(90%);
              }
            }
          }
        }

        .actionValue {
          display: block;
          width: fit-content;
          max-width: 100%;
          overflow: hidden;
          font-size: 16px;
          line-height: 19px;
          text-overflow: ellipsis;

          @media screen and (max-width: $mobile) {
            margin: 0 auto;
            text-align: center;
          }
        }

        .linkText {
          display: block;
          margin-top: 7px;
          font-size: $fontSizeRegular;
          line-height: 1.1;
          text-align: left !important;
        }
      }
    }

    .nothingFound {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 85%;
      overflow: hidden;
      text-align: center;

      &.loadMoreAvailable {
        height: calc(100% - 45px);
      }
    }
  }

  @media (max-width: $mobile) {
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    align-items: stretch;
    min-height: 100%;

    .transactionsTile {
      display: flex;
      flex-direction: column;
      //height: $minRouteHeightWithExtra !important;
      min-height: 350px;
      justify-content: flex-start;
      width: 100%;
      //padding: 0.15rem 0.10rem !important;
      text-align: center;

      .transactionItem {
        position: relative;
        padding: 0.5rem 0;
        align-items: flex-start;
        justify-content: stretch;
        grid-template-rows: none;
        grid-template-columns: none;
        display: flex;
        gap: 0.15rem;
        height: auto;

        .status {
          width: 2rem;
          justify-self: center;
          align-self: flex-start;
          min-height: 3rem;
        }

        .mainInfo {
          display: inline-flex;
          text-align: left;
          justify-content: flex-start;
          align-items: baseline;
          flex-wrap: wrap;
          flex-grow: 1;
          //margin: 1rem 0 0 auto !important;
          //flex-direction: row;
          //display: flex;
          //white-space: nowrap;
          //flex-grow: 2;
          //align-items: flex-start;
          & > * {
            font-size: 11px !important;
            text-align: left !important;
            line-height: 14px !important;
            word-break: break-word;
          }

          .amount
          {
            max-width: 20vw;
            word-break: break-all;
            white-space: normal
          }
          .amount, .tokenSymbol
          {
            line-height: 150% !important;
            font-size: 12px !important;
          }

          .tokenSymbol
          {
            margin-left: 0.1rem;
          }

          //
          .tooltip-wrapper {
            width: 100%;
            font-size: 9px !important;
            line-height: 120% !important;
          }
        }

        //
        .actionInfo {
          flex-basis: 35vw !important;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: flex-start;

          .actionType {
            text-align: left !important;
            font-size: 12px;
            line-height: 14px;
            white-space: nowrap;
          }

          .actionValue {
            font-size: 12px;
            line-height: 14px;
            text-align: left !important;
            margin: 0;
          }

          .linkText {
            width: auto !important;
            text-align: left !important;
            font-size: 11px !important;
            line-height: 1rem;
            text-indent: 0;
            align-self: flex-start;
            justify-self: flex-start;
          }
        }

        .button {
          position: absolute;
          left: 0;
          bottom: 0rem;
          padding: 0 !important;
          justify-self: center;
          width: 2rem;
        }
      }
    }
  }
}

body.inkline {
  &.-light {
    .transactionsPage .transactionsListContainer {
      &::-webkit-scrollbar-thumb {
        background-color: $input-border-color-focus-light;
      }

      .transactionItem {
        border-color: $input-border-color-light;

        .amount,
        .tokenSymbol {
          display: inline-flex;
        }
      }
    }
  }

  &.-dark {
    .transactionsPage .transactionsListContainer {
      &::-webkit-scrollbar-thumb {
        background-color: $input-border-color-focus-dark;
      }

      .transactionItem {
        border-color: $input-border-color-dark;
      }
    }
  }
}
