.defaultLayout {
  width: 100%;
  height: 100%;

  .routerContainer {
    min-height: $minRouteHeightMain;
    //margin: 1rem auto;
    width: 100%;
  }

  .headerSpace {
    width: 100%;
    height: $headerHeight;
  }
}

body.inkline.-light .defaultLayout {
  .tileBlock {
    background: $white;

    .tileHeadline {
      i, .ov-icon {
        color: $black;
      }
    }
  }

  .tileTextBg {
    background-color: #fff8de1f;
    border-color: #180d0d14;
  }
}

body.inkline.-dark .defaultLayout {
  .tileBlock {
    background: $darkViolet;

    .tileHeadline {
      i, .ov-icon {
        color: $white;
      }
    }
  }

  .tileTextBg {
    background-color: #fff8de1a;
    border-color: #ffffff14;
  }
}

body.inkline.-dark {
  .form-input-group.-dark .form-input input,
  input.form-input.-prefixed {
    background-color: #ffffff30 !important;
  }
}

.form-input-group.-light .form-input input,
input.form-input.-prefixed {
  background-color: $input-border-color-light !important;
  border-radius: $borderRadiusSm;
  box-shadow: inset 1px 1px 3px rgba(0, 0, 0, 0.035) !important;
}

.form-input-group.-light .form-input input:focus,
input.form-input.-prefixed:focus {
  border-color: rgba(30, 30, 30, 0.15) !important;
}

.tooltip-wrapper {
  display: flex;
}

.iconInfo {
  margin: 2px 0 2px 10px;
  font-size: 11px;
  line-height: 28px;
  text-align: center;
  background: transparentize($color: $gray, $amount: 0.7);
  border-radius: 50%;
  transform: translateY(1px);
  cursor: pointer;
  opacity: 0.9;
  transition: background-color $transition1;
  padding: 5px;
  height: 28px;
  width: 28px;
  display: inline-block;
  @media (max-width: $mobile) {
    height: 24px;
    width: 24px;
    margin-left: 6px;
  }

  &:hover {
    background: transparentize($color: $gray, $amount: 0.5);
  }

  svg {
    position: relative;
    display: block;
    top: 1px;
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}

@media (min-width: $mobile) {
  .defaultLayout {
    justify-content: stretch;
    align-items: stretch;
    max-height: 100vh;

    /* The hack for Safari */
    @supports (-webkit-touch-callout: none) {
      //noinspection CssInvalidPropertyValue
      max-height: -webkit-fill-available;
    }
  }
}
