.defaultLayout {
  width: 100%;
  height: 100%;

  .routerContainer {
    min-height: $minRouteHeightMain;
    /* @media (max-width: $mobile) {
      min-height: $minRouteHeight !important;
    } */
  }

  .tileBlock {
    width: 90%;
    max-width: 505px;
    height: auto;
    margin-top: 15px;
    margin-right: auto;
    margin-left: auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 4px 4px 8px 0 rgba(11, 52, 102, 0.02);
    transition: background-color $transition1;

    .tileHeadline {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      margin: 0;
      padding-bottom: 20px;
      font-weight: 400;
      font-family: $firaSans;
      text-align: center;

      &.withBtn {
        display: grid;
        grid-template-rows: 100%;
        grid-template-columns: 40px 1fr;
        align-items: center;
        padding-right: 40px;
      }

      @media (max-width: $mobile) {
        font-size: 22px;

        &.withBtn {
          grid-template-columns: 30px 1fr;
          padding-right: 30px;

          .returnBtn i {
            width: 30px;
            height: 30px;
            font-size: 16px;
            line-height: 30px;
          }
        }
      }

      i {
        display: block;
        width: 25px;
        height: 25px;
        margin-left: 10px;
        font-size: 11px;
        line-height: 26px;
        background: transparentize($color: $gray, $amount: 0.7);
        border-radius: 50%;
        transform: translateY(1px);
        cursor: pointer;
        opacity: 0.9;
        transition: background-color $transition1;

        &:hover {
          background: transparentize($color: $gray, $amount: 0.5);
        }
      }

      .returnBtn {
        display: block;
        text-decoration: none;

        i {
          width: 40px;
          height: 40px;
          margin-left: 0;
          font-size: 20px;
          line-height: 40px;
          transition: color $transition1;
        }
      }
    }

    .tileText {
      margin: 5px 0;
      font-size: 16px;
      text-align: center;
    }

    .tileTextBg {
      margin: 5px 0;
      padding: 12px 15px;
      font-size: 15px;
      text-align: center;
      border: 1px solid;
      border-radius: 5px;
    }
  }

  footer {
    @media (max-width: $mobile) {
      margin-bottom: 80px; /* Navigation bar space */

      .floating-on-mobile {
        bottom: calc(4vh + 70px);
      }
    }
  }
  .headerSpace {
    width: 100%;
    height: $headerHeight;
  }
}

body.inkline.-light .defaultLayout {
  .tileBlock {
    background: $white;

    .tileHeadline .returnBtn i {
      color: $black;
    }
  }

  .tileTextBg {
    background-color: #fff8de1f;
    border-color: #180d0d14;
  }
}

body.inkline.-dark .defaultLayout {
  .tileBlock {
    background: $darkViolet;

    .tileHeadline .returnBtn i {
      color: $white;
    }
  }

  .tileTextBg {
    background-color: #fff8de1a;
    border-color: #ffffff14;
  }
}

body.inkline.-dark {
  .form-input-group.-dark .form-input input,
  input.form-input.-prefixed {
    background-color: #ffffff30 !important;
  }
}

.form-input-group.-light .form-input input,
input.form-input.-prefixed {
  background-color: #0000000a !important;
  border-radius: 0.3rem !important;
  box-shadow: inset 1px 1px 3px rgba(0, 0, 0, 0.035) !important;
}

.form-input-group.-light .form-input input:focus,
input.form-input.-prefixed:focus {
  border-color: rgba(30, 30, 30, 0.15) !important;
}

.tooltip-wrapper {
  display: flex;
}
i.iconInfo,
em.iconInfo {
  display: block;
  width: 25px;
  height: 25px;
  margin-left: 10px;
  font-size: 11px;
  line-height: 26px;
  text-align: center;
  background: transparentize($color: $gray, $amount: 0.7);
  border-radius: 50%;
  transform: translateY(1px);
  cursor: pointer;
  opacity: 0.9;
  transition: background-color $transition1;

  &:hover {
    background: transparentize($color: $gray, $amount: 0.5);
  }
}
