.indexLayout {
  min-height: 100vh;

  .routerContainer {
    .dappPageWrapper {
      & > * {
        margin: 1rem 0;
      }
    }
  }

  footer a {
    color: $purple;
    transition: color $transition2;

    &:hover {
      color: $lightViolet;
    }
  }

  @media (max-width: $mobile) {
    //min-height: $minRouteHeightWithExtra;

    .routerContainer {
      min-height: auto;
    }
  }

  .projectLogo {
    width: 100%;
    max-width: 300px;
    height: auto;
  }

  .externalWalletPopover .popover {
    width: 330px;
    padding: 20px 30px;

    &.-dark {
      .iconsBlock a {
        i,
        .ov-icon {
          color: $darkViolet;
        }
      }
    }

    &.-light {
      .iconsBlock a {
        i,
        .ov-icon {
          color: $white;
        }
      }
    }

    .h5 {
      margin: 0;
      font-size: 22px;
      text-align: center;
    }

    .description {
      margin-bottom: 15px;
      font-size: 16px;
      line-height: 20px;
    }

    .contactInfo {
      width: 100%;
      max-width: 255px;
      margin: 15px auto 0;

      .infoDescription {
        font-size: 12px;
        line-height: 15px;
        text-align: center;
      }

      .iconsBlock {
        display: flex;
        justify-content: space-between;
        margin-top: 15px;
        padding: 0 18px;

        a {
          display: block;
          width: 48px;
          height: 48px;
          overflow: hidden;
          background-color: $violet;
          border-radius: 50%;

          i,
          .ov-icon {
            display: block;
            width: 100%;
            height: 100%;
            font-size: 20px;
            line-height: 48px;
            text-align: center;
          }
        }
      }
    }
  }
}
