.indexLayout {
  min-height: 100vh;

  .routerContainer {
    //min-height: $minRouteHeight;
    //min-height: calc(100vh - 70px - 105px);

    .dappPageWrapper {
      & > * {
        margin: 1rem 0;
      }
    }
  }
  
  footer a {
    color: $purple;
    transition: color $transition2;
    
    &:hover {
      color: $lightViolet;
    }
  }

  @media (max-width: $mobile) {
    //min-height: $minRouteHeightWithExtra;

    .routerContainer {
      min-height: auto;
    }
  }

  .projectLogo {
    width: 100%;
    max-width: 300px;
    height: auto;
  }

  .tileContainer {
    cursor: pointer;

    @media screen and (min-width: $mobile) {
      padding-bottom: $footerHeight;
    }

    &:hover .tile {
      box-shadow: $hoverShadow;
    }

    .tile {
      width: 130px;
      height: 130px;
      margin: 20px auto 5px;
      padding: 20px;
      background-color: $white;
      border-radius: 27px;
      box-shadow: $tileShadow;
      transition: $transition1;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        transition: $transition1;
      }

      .tileIcon {
        position: absolute;
        top: -24px;
        right: -24px;
        width: 48px;
        height: 48px;
        color: $violet;
        font-size: 20px;
        line-height: 48px;
        background-color: $white;
        border-radius: 50%;
        opacity: 0;
        transition: $transition2;
      }
    }

    .tileName {
      padding-top: 7px;
      font-size: 18px;
    }
  }

  .externalWalletPopover .popover {
    width: 330px;
    padding: 20px 30px;

    &.-dark {
      .iconsBlock a {
        i, .ov-icon {
          color: $darkViolet;
        }
      }
    }

    &.-light {
      .iconsBlock a {
        i, .ov-icon {
          color: $white;
        }
      }
    }

    .h5 {
      margin: 0;
      font-size: 22px;
      text-align: center;
    }

    .description {
      margin-bottom: 15px;
      font-size: 16px;
      line-height: 20px;
    }

    .contactInfo {
      width: 100%;
      max-width: 255px;
      margin: 15px auto 0;

      .infoDescription {
        font-size: 12px;
        line-height: 15px;
        text-align: center;
      }

      .iconsBlock {
        display: flex;
        justify-content: space-between;
        margin-top: 15px;
        padding: 0 18px;

        a {
          display: block;
          width: 48px;
          height: 48px;
          overflow: hidden;
          background-color: $violet;
          border-radius: 50%;

          i, .ov-icon {
            display: block;
            width: 100%;
            height: 100%;
            font-size: 20px;
            line-height: 48px;
            text-align: center;
          }
        }
      }
    }
  }
}
