.fade-enter-active, .fade-leave-active {
  transition: opacity .5s ease;
  will-change: opacity;
}

.fade-enter, .fade-leave-to {
  opacity: 0;
}

.fadeFast-enter-active, .fadeFast-leave-active {
  transition: $transition;
  will-change: opacity;
}

.fadeFast-enter, .fadeFast-leave-to {
  opacity: 0;
}

.slide-vertical-fade-enter-active, .slide-vertical-fade-leave-active {
  transition: 0.5s ease;
  transition-property: transform, opacity;
  will-change: transform, opacity;
}
.slide-vertical-fade-enter, .slide-vertical-fade-leave-to {
  opacity: 0;
}
.slide-vertical-fade-enter {
  transform: translateY(-15px);
}
.slide-vertical-fade-leave-to {
  transform: translateY(15px);
}

.modal-enter-active, .modal-leave-active {
  transition-property: transform, opacity;
  will-change: transform, opacity;
}
.modal-enter-active {
  transition: $transition2;
}
.modal-leave-active {
  transition: $transition;
}
.modal-enter, .modal-leave-to {
  opacity: 0;
}
.modal-enter {
  transform: translateY(35px);
}
.modal-leave-to {
  background-color: $white3;
  transform: scale(0.9);
}
