.mywallet {
  &-wrapper {
    width: 100%;
    max-width: 560px;
    text-align: center;
    border-radius: 4px;

    & .copy-block {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin: 22px 32px 15px;
      padding: 30px;
      color: var(--dark-color-light);
      font-size: var(--large-font-size);
      background-color: var(--copyblock-color-light);
      border-radius: 4px;

      &-input {
        position: absolute;
        left: -10000px;
        width: 1px;
        height: 0;
        color: var(--transparent);
        background-color: var(--transparent);
        border: none;
        outline: none;
      }

      &-button {
        width: 24px;
        height: 24px;
        background-color: var(--transparent);
        background-image: url(../../images/mdi_file_copy.svg);
        border: none;
        cursor: pointer;
      }
    }
  }
}