.mywallet {
  &-buttons-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &-title {
    color: var(--dark-color);
  }

  &-price {
    color: var(--hints-color);
    font-size: var(--sm-font-size);
  }

  &-currency {
    &-balance {
      color: var(--dark-color);
      font-size: var(--xl-font-size);
    }

    &-selector {
      margin-left: 10px;
      padding-right: 20px;
      color: var(--dark-color);
      font-size: var(--sm-font-size);
      background: var(--transparent);
      background-image: url(../../images/arrow-select.svg);
      background-repeat: no-repeat;  
      background-position: right;
      border: none;
      outline: none;
      appearance: none;
    }

    &-block {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: calc(100% + 64px);
      height: 90px;
      padding: 18px 32px;
      background-color: var(--bg-block-color);
      border-left: 3px solid var(--button-bg-color);
      transform: translateX(-32px);
    }  

    &-wrapper {
      margin-top: -10px;
    }
  } 

  &-wrapper {
    width: 90%;
    max-width: 560px;
    margin-top: 15px;
    padding: 32px;
    text-align: center;
    background-color: var(--modal-bg-color);
    border-radius: 4px;

    &.open {
      display: block;
    }

    &.closed {
      display: none;
    }
  }
}

.copy-block {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 22px 0 15px;
  padding: 30px;
  color: var(--dark-color);
  font-size: var(--large-font-size);
  background-color: var(--copyblock-color);
  border-radius: 4px;

  &-input {
    position: absolute;
    left: -10000px;
    width: 1px;
    height: 0;
    color: var(--transparent);
    background-color: var(--transparent);
    border: none;
    outline: none;
  }

  &-button {
    width: 24px;
    height: 24px;
    background-color: var(--transparent);
    background-image: url(../../images/mdi_file_copy.svg);
    border: none;
    cursor: pointer;
  }
}

.deposit-button, .withdraw-button {
  position: relative;
  margin: 24px 0 50px;
  padding-left: 30px;
  color: var(--button-bg-color);
  font-size: var(--large-font-size);
  background-color: var(--transparent);
  border: none;
  outline: none;
  cursor: pointer;

  & > span { 
    position: absolute;
    top: 50%;
    left: 0;
    width: 24px;
    height: 24px;
    background: url(../../images/deposit.svg);
    background-repeat: no-repeat;
    background-size: contain;
    transform: translateY(-50%);
  }
}

.withdraw-button {
  color: var(--hints-color);

  & > span {
    background: url(../../images/mdi_arrow_downward.svg);
  }
}

@media screen and (min-width: 760px) {
  .mywallet {
    &-price {
      font-size: var(--md-font-size);
    }

    &-currency {
      &-balance {
        font-size: var(--xxxl-font-size);
      }

      &-selector {
        font-size: var(--large-font-size);
      }
    }  
  }
}