.noteContainer {
  width: 100%;

  .noteMain {
    display: flex;
    align-items: center;
    padding: 10px 15px;
    text-align: left;
    border: 1px solid $light;
    border-radius: $borderRadius;
    transition: border-color $transition1;

    .noteIcon {
      font-size: 18px;
    }

    .noteText {
      font-weight: 300;
      font-size: 12px;
    }

    .noteIcon,
    .noteText {
      color: $black;
      transition: color $transition1;
    }
  }
}

body.inkline {
  &.-dark {
    .noteMain {
      border-color: darken($color: $gray, $amount: 15);
    }

    .noteIcon,
    .noteText {
      color: darken($color: $gray, $amount: 15);
    }
  }
}
