.walletContainer {
  width: 100%;
  height: max-content;
  display: grid;
  grid-template-columns: 27px 1fr 27px;
  grid-template-rows: 100%;
  grid-gap: 10px;
  align-items: center;
  padding: 20px 5px 20px 20px;
  border-radius: 4px;
  transition: background-color $transition1;
  &.clickablePicture {
    .userImg {
      cursor: pointer;
    }
  }

  .walletValue {
    word-break: break-all;
    text-align: center;
    font-size: 12px;
  }

  .copy {
    color: $gray;
    font-size: 16px;
    transition: background-color $transition1, color $transition1;
    border-radius: 4px;
    padding: 7px 10px;
    box-sizing: border-box;
    transform: translateX(-7px);
    cursor: pointer;

    &:active {
      transition: 0.001s;
    }
  }
}

body.inkline.-light .defaultLayout {
  .walletContainer {
    background-color: #0000000a;

    .copy {
      &:hover {
        background-color: transparentize($color: $gray, $amount: 0.85);
      }

      &:active {
        background-color: transparentize($color: $gray, $amount: 0.7);
        color: $green;
      }
    }
  }
}

body.inkline.-dark .defaultLayout {
  .walletContainer {
    background-color: #ffffff14;

    .copy {
      &:hover {
        background-color: transparentize($color: $white, $amount: 0.9);
      }

      &:active {
        background-color: transparentize($color: $white, $amount: 0.8);
        color: $green;
      }
    }
  }
}
