.walletContainer {
  display: grid;
  grid-gap: 10px;
  grid-template-rows: 100%;
  grid-template-columns: 27px 1fr 27px;
  align-items: center;
  width: 100%;
  height: max-content;
  padding: 0.5rem;
  border-radius: $borderRadiusMd;
  box-shadow: $shadowInset;
  transition: background-color $transition1, box-shadow $transition1;
  &.inputWallet {
    position: relative;

    .errorText {
      position: absolute;
      left: 0;
      top: calc(100% + 3px);
      width: 100%;
      color: $red;
      font-size: 12px;
    }

    .domainAddress {
      position: absolute;
      left: 0;
      top: calc(100% + 3px);
      width: 100%;
      font-size: 12px;
    }
  }

  &.clickablePicture {
    .userImg {
      cursor: pointer;
    }
  }

  &.error {
    box-shadow: 0 0 0 1px $red;
  }

  .walletValue {
    font-size: 12px;
    text-align: center;
    word-break: break-all;
  }

  input {
    display: block;
    width: 100%;
    height: 100%;
    font-size: 12px;
    height: 27px;
    text-align: center;
    background-color: $tempTransparent;
    border: none;
    outline: none;
    transition: $transition1 color;

    &::placeholder {
      font-size: 18px;
    }
  }

  .userImgPlaceholder {
    transition: $transition1 background-color;
  }

  .copy {
    box-sizing: border-box;
    padding: 7px 10px;
    color: $gray;
    font-size: 16px;
    border-radius: $borderRadiusMd;
    transform: translateX(-7px);
    cursor: pointer;
    transition: background-color $transition1, color $transition1;
    display: inline-flex;

    &:active {
      transition: 0.001s;
    }
  }
}

@media screen and (max-width: $mobile) {
  .walletValue {
    white-space: nowrap;
    font-size: 10px !important;
    letter-spacing: -0.04rem;
    width: 100%;
    overflow: hidden;
  }
}

body.inkline.-light .defaultLayout {
  .walletContainer {
    background-color: #0000000a;

    input {
      color: $black;
    }

    .userImgPlaceholder {
      background-color: $white;
    }

    .copy {
      &:hover {
        background-color: transparentize($color: $gray, $amount: 0.85);
      }

      &:active {
        color: $green;
        background-color: transparentize($color: $gray, $amount: 0.7);
      }
    }
  }
}

body.inkline.-dark .defaultLayout {
  .walletContainer {
    background-color: #ffffff14;

    input {
      color: $white;
    }

    .userImgPlaceholder {
      background-color: $darkViolet;
    }

    .copy {
      &:hover {
        background-color: transparentize($color: $white, $amount: 0.9);
      }

      &:active {
        color: $green;
        background-color: transparentize($color: $white, $amount: 0.8);
      }
    }
  }
}
