/* stylelint-disable plugin/no-low-performance-animation-properties */
@mixin absolute-center {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}

.overlay {
  width: 100%;
  text-align: center;
  background: var(--transparent);
}

.spinner-wrapper {
  min-height: 32px;
}

.spinner {
  position: relative;
  display: block;
  width: 1em;
  height: 1em;
  margin: 0 auto;
  font-size: var(--xxl-font-size);

  &.center {
    @include absolute-center;
  }

  &-small {
    z-index: 2;
    width: 18px;
    height: 18px;
    margin-right: 10px;
    animation: rotate 2s linear infinite;

    & .path {
      animation: dash 1.5s ease-in-out infinite;
      stroke: var(--button-bg-color);
      stroke-linecap: round;
    }

  }

  @keyframes rotate {
    100% {
      transform: rotate(360deg);
    }
  }

  @keyframes dash {
    0% {
      stroke-dasharray: 1, 150;
      stroke-dashoffset: 0;
    }
    50% {
      stroke-dasharray: 90, 150;
      stroke-dashoffset: -35;
    }
    100% {
      stroke-dasharray: 90, 150;
      stroke-dashoffset: -124;
    }
  }
}

.spinner-blade {
  position: absolute;
  bottom: 0;
  left: .4629em;
  width: .1em;
  height: .2777em;
  background-color: var(--transparent);
  transform-origin: center -.2222em;
  animation: spinner-fade 1s infinite linear;

  $animation-delay: 0s;
  $blade-rotation: 0deg;

  @for $i from 1 through 8 {
    &:nth-child(#{$i}) {
      transform: rotate($blade-rotation);
      animation-delay: $animation-delay;
      $blade-rotation: $blade-rotation + 45;
      $animation-delay: $animation-delay + .1245;
    }
  }
}

@keyframes spinner-fade {
  0% {
    background-color: var(--button-bg-color);
  }

  100% {
    background-color: var(--transparent);
  }
}
