.fade-enter-active, .fade-leave-active {
    transition: opacity .5s ease;
}
.fade-enter, .fade-leave-to {
    opacity: 0;
}
.fadeFast-enter-active, .fadeFast-leave-active {
    transition: opacity .2s;
}
.fadeFast-enter, .fadeFast-leave-to {
    opacity: 0;
}


.slide-vertical-enter-active, .slide-vertical-leave-active {
    transition: transform .5s ease !important;
}
.slide-vertical-enter, .slide-vertical-leave-to {
    transform: translateY(250px);
}