.menu {
  &-wrapper {
    width: 100%;
    padding: 16px 16px 0;
    background-color: var(--modal-bg-color);
  }

  &-logo {
    width: 150px;
    height: 30px;
    background-image: url(../../images/logo_text.svg);
    background-repeat: no-repeat;
  }

  &-top {
    display: flex;
    justify-content: space-between;
  }

  &-route { 
    display: block;
    box-sizing: content-box;
    margin-top: 14px;
    padding-bottom: 10px;
    color: var(--dark-color);
    font-size: var(--sm-font-size);
    border-bottom: 4px solid var(--transparent);

    &.active {
      color: var(--dark-color);
      border-bottom: 4px solid var(--button-bg-color);
    }

    &:hover {
      color: var(--dark-color);
      border-bottom: 4px solid var(--button-bg-color);
    }

    &-wrapper {
      padding: 5px 10px 0;
      font-size: var(--md-font-size);
    }
  }

  &-routes {
    display: flex;
    justify-content: center;
    height: 54px;
  }

  &-wallet {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 60px;
    height: 25px;
    color: var(--dark-color);
    background-color: var(--modal-bg-color);
    border: none;
    border-radius: 13px;
    outline: none;
    cursor: pointer;

    & > p {
      display: none;
      max-width: 60px;
      margin: 0;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
  }
}

@media screen and (min-width: 760px) {
  .menu {
    &-wallet {
      max-width: 160px;

      & > p {
        display: inline-block;
      }
    }

    &-route {
      margin-top: 10px;
      font-size: var(--md-font-size);

      &-wrapper {
        padding: 5px 25px 0;
      }
    }
  }
}