.contact {
    &-info {

        &-address {
            &-container {
                position: relative;
                display: flex;
                align-items: center;
                justify-content: space-between;
                margin-top: 10px;
                margin-bottom: 40px;

                & > p {
                    margin-bottom: 0;
                }

                & > .hint-copied {
                    top: -40px;
                    right: -40px;
                    text-align: center;
                }
            }
        }    

        &-title {
            margin: 60px 0 10px;

            &.name {
                display: flex;
            }

            &-address {
                color: var(--hints-color);
                font-size: var(--md-font-size);
            }
        }
    }
}