.add-contact {
  &-button {
    position: absolute;
    top: -30px;
    right: 27px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--dark-color);
    background-color: var(--transparent);
    border: none;
    border-radius: 5px;
    outline: none;
    cursor: pointer;

    &-input {
      position: absolute;
      top: -25px;
      right: 20px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 80px;
      color: var(--links-color);
      font-size: var(--xs-font-size);
      background-color: var(--transparent);
      border: none;
      outline: none;
      cursor: pointer;

      & > span {
        position: relative;
        display: block;
        width: 18px;
        height: 18px;
        margin: 0 5px 2px;
        border: 2px solid var(--links-color);
        border-radius: 9px;

        &::before, &::after {
          position: absolute;
          top: 50%;
          left: 50%;
          display: block;
          width: 10px;
          height: 2px;
          background-color: var(--links-color);
          transform: translate(-50%, -50%);
          content: '';
        }

        &::after {
          top: 45%;
          left: 2px;
          transform: rotate(90deg);
        }
      }

      & > p {
        margin-bottom: 0;
      }
    }

    & > p {
      display: none;
      margin-bottom: 0;
    }

    & > span {
      display: block;
      width: 22px;
      height: 22px;
      margin-right: 0;
      background-image: url(../../images/mdi_person_add.svg);
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
    }
  }
}

.datalist-balance {
  width: 100%;
  margin-bottom: 0;
  margin-left: 10px;
  padding-left: 5px;
  overflow: hidden;
}

.balances {
  &-wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90vw;
    max-width: 505px;
    margin-top: 16px;
    padding-top: 27px;
    padding-bottom: 22px;
    background-color: var(--modal-bg-color);
    border-radius: 5px;

    & > input {
      margin-bottom: 15px;
    }

    & > p {
      margin-top: 10px;
      padding: 0 20px;
      color: var(--dark-color);
      text-align: center;
    }

    &.open {
      display: flex;

      .add-contact-button {
        top: 30px;
      }
    }

    &.closed {
      display: none;
    }
  }

  &-search {
    position: relative;
    width: calc(100% - 45px);
    height: 36px;
    padding-left: 42px;
    color: var(--dark-color);
    background-color: var(--input-color);
    background-image: url(../../images/mdi_search.svg);
    background-repeat: no-repeat;
    background-position: 15px center;
    background-size: 20px;
    border: 1px solid var(--copyblock-color);
    border-radius: 4px;
    outline: none;
  }

  &-title {
    color: var(--dark-color);
    font-weight: var(--bold-font-weight);
    font-size: var(--large-font-size);
  }

  &-token {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 72px;
    padding: 22px;
    color: var(--dark-color);
    font-size: var(--sm-font-size);
    background-color: var(--transparent);
    border-bottom: 1px solid var(--border-color);
    cursor: pointer;

    &-status {
      margin-left: 20px;
    }
    
    &.verified {
      background-color: var(--transparent);
    }

    &.pending {
      background-color: var(--info-message-color);
    }

    &-right {
      display: flex;
      align-items: center;

      & > span {
        display: flex;
      }

      & > button {
        display: none;
        min-width: 87px;
        height: 27px;
        margin-left: 10px;
        color: var(--dark-color);
        background-color: var(--modal-bg-color);
        border: 1px solid var(--border-color);
        border-radius: 5px;
  
        &.pending {
          background-color: var(--copyblock-color);
          cursor: auto;
        }
  
        &:hover {
          background-color: var(--copyblock-color);
        }
      }

      & > p {
        width: 100%;
        max-width: 100px;
        margin-bottom: 0;
        padding-left: 5px;
      }

      & > .balances-token-right.container {
        display: block;

        .current-tokens {
          display: flex;
          justify-content: space-between;

          span {
            margin-right: 10px;
          }

          .label-done, .label-verifying {
            margin-right: 0;
          }
        }

        .awaited-tokens {
          margin-right: 10px;
          color: var(--hints-color);
          font-size: var(--sm-font-size);

          &-block {
            display: flex;
            justify-content: space-between;
          }
        }
      }

      & > div {
        display: flex;
        align-items: center;

        & > p {
          margin: 0 10px;
          margin-bottom: 0;
          color: var(--hints-color);
        }
      }
    }

    &:hover {
      background-color: var(--copyblock-color);
    }
  }

  &-contact {
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 22px;
    color: var(--dark-color);
    font-size: var(--sm-font-size);
    text-align: center;
    border-bottom: 1px solid var(--border-color);
    cursor: pointer;

    &-right {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    &-send {
      & > a {
        display: block;
        width: 100%;
        height: 100%;
      }
    }

    .balances-contact-send {
      visibility: hidden;
    }

    &-copy {
      height: 26px;
      background-size: 22px;
    }
    
    &-edit {
      display: flex;
      align-items: center;
      justify-content: space-between;
      /* stylelint-disable no-descending-specificity */
      & > span {
        display: block;
        width: 3px;
        height: 3px;
        background-color: var(--dark-color);
        border-radius: 2px;
      }
    }

    &-send, &-edit, &-copy {
      width: 32px;
      height: 32px;
      margin-left: 10px;
      padding: 5px;
      background-color: var(--transparent);
      background-repeat: no-repeat;
      background-position: center;
      border: none;
      border-radius: 5px;
      outline: none;
      cursor: pointer;

      &:hover {
        background-color: var(--border-color);
      }
    }

    &-left {
      display: flex;
      flex-direction: column;
      text-align: left;

      &.container {
        flex-direction: row;
        align-items: center;

        img {
          width: 30px;
          height: 30px;
          margin-right: 20px;
          border-radius: 100%;
        }
      }
    }

    &-name {
      color: var(--dark-color);
      font-size: var(--xl-font-size);
      line-height: var(--xl-font-size);
    }

    &-address {
      color: var(--dark-color);
      font-size: var(--xs-font-size);
    }

    &:hover {
      background-color: var(--bg-block-color);
      
      .balances-contact-send {
        visibility: visible;
      }
    }
  }
}

.label {
  &-done, &-verifying {
    position: relative;
    display: block;
    min-width: 35px;
    min-height: 35px;
    background-image: url(../../images/1.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    border-radius: 13px;

    & .tooltip {
      bottom: 30px; 
      left: 50%;
      display: none;
      width: auto; 
      padding: 10px;
      text-align: center;

      &.wide {
        min-width: 250px;
      }
    }

    &:hover .tooltip { 
      position: absolute;
      z-index: 10000;
      display: block;
      background: var(--modal-bg-color);  
      border: 1px solid var(--hints-color); 
      border-radius: 5px;
    }
  }

  &-verifying {
    background-image: url(../../images/2.svg);
  }
}


.transaction-history {
  &.transfer, &.deposit, &.withdraw {
    width: 36px;
    height: 36px;
    background-color: var(--button-bg-color);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 18px;
    border-radius: 18px;
  } 

  &.withdraw {
    background-color: var(--success-color);
    background-image: url(../../images/mdi_arrow_downward_white.svg);
  }

  &.deposit {
    background-image: url(../../images/deposit_white.svg);
    background-size: 22px;
  }

  &.transfer {
    background-image: url(../../images/send_white.svg);
    background-size: 22px;
  }

  &-amount {
    display: inline;
    max-width: 200px;
    margin-left: 18px;
    color: var(--dark-color);
    font-size: var(--xl-font-size);
    word-wrap: break-word;
  }

  &-date {
    margin-left: 18px;
    color: var(--hints-color);
    font-size: var(--sm-font-size);
  }

  &-wrapper {
    position: relative;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 27px;
    border-bottom: 1px solid var(--border-color);
  }

  &-hash {
    align-self: flex-start;
    margin-left: 18px;
    color: var(--dark-color);
    font-size: var(--md-font-size);
  }

  &-left {
    width: 135px;
  }

  &-address {
    & > p {
      margin-bottom: 0;
      color: var(--dark-color);
    }

    & > span {
      color: var(--hints-color)
    }
  }

  &-confirmations {
    margin: 0 10px;
    > span {
      color: var(--hints-color)
    }
  }

  &-right {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 162px;
    margin-left: 54px;

  }
}

.contact-edit-wrapper {
  right: 22px;
  display: flex;

  .contact-manage {
    width: 200px;
    color: var(--links-color);
    text-align: center;
    border: 1px solid var(--light-border-color);

    &-copy {
      display: block;
      width: 100%;
      padding: 5px;
      color: var(--dark-color);
      font-size: var(--sm-font-size);
      background-color: var(--transparent);
      border: none;
      border-top: 1px solid var(--border-color);

      &:hover {
        background-color: var(--border-color);
      }
    }
  }
}

@media screen and (min-width: 760px) {
  .balances-contact-copy {
    display: block;
  }

  .add-contact {
    &-button {
      top: 35px;

      &-input {
        top: -48px;
        width: 90px;
        font-size: var(--md-font-size);
        border-radius: 4px;
      }

      & > p {
        display: inline;
      }
    
      & > span {
        margin-right: 15px;
      }
    }
  }

  .label-done {
    display: block;
  }

  .balances {
    &-token, &-contact {
      font-size: var(--md-font-size);
    }

    &-title {
      font-size: var(--xl-font-size);
    }

    &-wrapper {
      &.open {
        .add-contact-button {
          top: 35px;
        }
      }
    }
  }

  .transaction-history {
    &-hash {
      display: inline;
      margin-left: 18px;
    }
  
    &-left {
      flex-wrap: nowrap;
      width: 100%;
    }
  
    &-right {
      margin-left: 0;

      & > .balances-contact-edit {
        position: relative;
        right: 0;
        transform: translateY(0);
      }
    }
  }

  .datalist-balance {
    max-width: 120px;
  }
}

