.add-contact {
  &-button {
    position: absolute;
    top: 40px;
    right: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--dark-color);
    background-color: var(--transparent);
    border: none;
    outline: none;
    cursor: pointer;

    &-input {
      display: flex;
      align-items: center;
      justify-content: space-between;
      color: var(--links-color);
      font-size: var(--md-font-size);
      background-color: var(--transparent);
      border: none;
      outline: none;
      cursor: pointer;

      & > span {
        position: relative;
        display: block;
        width: 18px;
        height: 18px;
        margin: 0 5px 2px;
        border: 2px solid var(--links-color);
        border-radius: 9px;

        &::before, &::after {
          position: absolute;
          top: 50%;
          left: 50%;
          display: block;
          width: 10px;
          height: 2px;
          background-color: var(--links-color);
          transform: translate(-50%, -50%);
          content: '';
        }

        &::after {
          top: 45%;
          left: 2px;
          transform: rotate(90deg);
          
        }
      }

      & > p {
        margin-bottom: 0;
      }
    }

    & > p {
      display: none;
      margin-bottom: 0;
    }

    & > span {
      display: block;
      width: 25px;
      height: 25px;
      margin-right: 0;
      background-image: url(../../images/mdi_person_add.svg);
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
    }
  }
}

.datalist-balance {
  width: 100%;
  max-width: 80px;
  margin-bottom: 0;
  margin-left: 10px;
  padding-left: 5px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.balances {
  &-wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90vw;
    max-width: 560px;
    margin-top: 15px;
    padding-top: 30px;
    padding-bottom: 25px;
    background-color: var(--modal-bg-color);
    border-radius: 5px;

    &.open {
      display: flex;
    }

    &.closed {
      display: none;
    }
  }

  &-search {
    position: relative;
    width: calc(100% - 50px);
    height: 40px;
    padding-left: 40px;
    background-color: var(--input-color);
    background-image: url(../../images/mdi_search.svg);
    background-repeat: no-repeat;
    background-position: 15px center;
    background-size: 20px;
    border: 1px solid var(--copyblock-color);
    border-radius: 4px;
    outline: none;
  }

  &-title {
    color: var(--dark-color);
    font-weight: var(--bold-font-weight);
    font-size: var(--xl-font-size);
  }

  &-token {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 80px;
    padding: 25px;
    color: var(--dark-color);
    font-size: var(--sm-font-size);
    background-color: var(--transparent);
    border-bottom: 1px solid var(--border-color);
    cursor: pointer;

    &.verified {
      background-color: var(--transparent);
    }

    &.pending {
      background-color: var(--info-message-color);
    }

    &-right {
      display: flex;
      align-items: center;

      & > span {
        display: flex;
      }

      & > p {
        width: 100%;
        max-width: 50px;
        margin-bottom: 0;
        padding-left: 5px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }

      & > div {
        display: flex;
        align-items: center;

        & > p {
          margin: 0 10px;
          margin-bottom: 0;
          color: var(--hints-color);
        }
      }
    }

    & > button {
      display: none;
      width: 110px;
      background-color: var(--modal-bg-color);
      border: 1px solid var(--border-color);
      border-radius: 5px;

      &.pending {
        background-color: var(--copyblock-color);
        cursor: auto;
      }

      &:hover {
        background-color: var(--copyblock-color);
      }
    }

    &:hover {
      background-color: var(--copyblock-color);

      .balances-token-right {
        display: none;
      }

      button {
        display: block;
      }
    }
  }

  &-contact {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 25px;
    color: var(--dark-color);
    font-size: var(--sm-font-size);
    text-align: center;
    border-bottom: 1px solid var(--border-color);
    cursor: pointer;

    &-right {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    &-send, &-edit, &-copy {
      width: 30px;
      height: 30px;
      margin-left: 10px;
      background-color: var(--transparent);
      background-repeat: no-repeat;
      background-size: contain;
      border: none;
      outline: none;
      cursor: pointer;
    }

    &-send {
      background-image: url(../../images/send_dark.svg);

      & > a {
        display: block;
        width: 100%;
        height: 100%;
      }
    }

    &-copy {
      height: 25px;
      background-image: url(../../images/mdi_file_copy.svg);
    }
  
    &-edit {
      display: flex;
      align-items: center;
      justify-content: space-between;

      & > span {
        display: block;
        width: 4px;
        height: 4px;
        background-color: var(--dark-color);
        border-radius: 2px;
      }
    }

    &-left {
      display: flex;
      flex-direction: column;
      text-align: left;
    }

    &-name {
      color: var(--dark-color);
      font-size: var(--md-font-size);
    }

    &-address {
      color: var(--hints-color);
      font-size: var(--sm-font-size);
    }

    &:hover {
      background-color: var(--bg-block-color);
    }
  }
}

.label-done {
  width: 15px;
  height: 15px;
  background-image: url(../../images/success.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  border-radius: 13px;
}

.transaction-history {
  &.transfer, &.deposit, &.withdraw {
    width: 40px;
    height: 40px;
    background-color: var(--button-bg-color);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 18px;
    border-radius: 20px;
  } 

  &.withdraw {
    background-color: var(--success-color);
    background-image: url(../../images/mdi_arrow_downward_white.svg);
  }

  &.deposit {
    background-image: url(../../images/deposit_white.svg);
    background-size: 25px;
  }

  &.transfer {
    background-image: url(../../images/send_white.svg);
    background-size: 25px;
  }

  &-amount {
    margin-left: 20px;
    color: var(--dark-color);
    font-size: var(--xl-font-size);
  }

  &-wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    width: 100%;
    padding: 30px;
    border-bottom: 1px solid var(--border-color);
  }

  &-hash {
    margin-bottom: 10px;
    margin-left: 60px;
    color: var(--dark-color);
    font-size: var(--sm-font-size);
  }

  &-left {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
    width: 150px;
  }

  &-address {
    /* stylelint-disable-next-line no-descending-specificity */
    & > p {
      margin-bottom: 0;
      color: var(--dark-color);
    }

    & > span {
      color: var(--hints-color)
    }
  }

  &-right {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 180px;
    margin-left: 60px;

    & > .balances-contact-edit {
      position: absolute;
      top: 50%;
      right: 25px;
      transform: translateY(-50%);
    }
  }
}

@media screen and (min-width: 760px) {
  .balances {
    &-token, &-contact {
      font-size: var(--md-font-size);
    }
  }

  .transaction-history {
    &-wrapper {
      flex-direction: row;
      justify-content: space-between;
    }
  
    &-hash {
      margin-bottom: 0;
      margin-left: 10px;
    }
  
    &-left {
      flex-wrap: nowrap;
      width: 100%;
    }
  
    &-right {
      margin-left: 0;

      & > .balances-contact-edit {
        position: relative;
        right: 0;
        transform: translateY(0);
      }
    }
  }

  .add-contact {
    &-button {
      & > p {
        display: inline;
      }
    
      & > span {
        margin-right: 15px;
      }
    }
  }
}

