.menu-root {
  position: relative;

  .menu-trigger {
    width: 20px;

    margin-left: 10px;
    padding: 15px;
    background-image: url(../../images/mdi_more_horiz.svg);
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 5px;
    cursor: pointer;
  }

  .menu-content {
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 11;
    border: 1px solid var(--border-color);
    border-radius: 5px;
    > * {
      padding: 5px 10px;
    }
  }
}

.menu-trigger:hover {
  background-color: var(--border-color);
}
