@import "variables";

$white: $white;
$lighterGray: $lightGrey;
$mediumGrey: $midGrey;
$gray: $warmGrey;
$darkerGray: $darkGrey;
$purple: $violet;
$purpleDark: $darkViolet;
$red: $red;
$redBg: #fdf2f2;
$green: $green;

$openSans: "Open Sans", "sans-serif";

$tempFontSizeMedium: 18px;
