$white: #fff;
$lighterGray: #f6f6f6;
$mediumGrey: #f3f4f7;
$gray: #9fa6b2;
$darkerGray: #5d768e;
$purple: #4e529a;
$purpleDark: #32325d;
$red: #f25f5c;
$redBg: #fdf2f2;
$green: #5fb072;

$openSans: "Open Sans", "sans-serif";

$tempFontSizeMedium: 18px;
