body.dark {
    --typing-color: #1DA1F2;
    --input-border-focus: rgba(255, 255, 255, 0.2);
    --light-bg-color: #fff;
    --button-text-color: #1d2039;
    --modal-bg-color: #1d2039;
    --dark-color: rgba(255, 255, 255, 0.9);
    --hints-color: rgba(255, 255, 255, 0.4);
    --hints-color-active: rgba(255, 255, 255, 0.5);
    --button-bg-color: #8c8dfc;
    --button-bg-hover: #797afb;
    --main-bg-color: #11142b;
    --main-light-bg-color: #11142b;
    --bg-block-color: #1d2039;
    --light-border-color: rgba(255, 255, 255, 0.08);
    --border-color: rgba(255, 255, 255, 0.08);
    --copyblock-color: rgba(255, 255, 255, 0.08);
    --input-color: rgba(255, 255, 255, 0.02);
    --currency-block-color: rgba(255, 255, 255, 0.1);
    --links-color: #4e529a;
    --info-message-color: rgba(255, 248, 222, 0.1);
    --info-message-text-color: #aa935d;
    --error-color: rgba(255, 101, 35, 0.17);
    --success-color: #27ae60;
    --transparent: transparent;

    & > #root {

        .transaction-back {
            background-image: url(./images/arrow-back-dark.svg);
        }

        .beta-text {
            color: var(--links-color);
        }

        .lfm__typing_effect {
            display: block;
            color: var(--yellow-color);
            font-weight: var(--medium-font-weight);
            font-size: var(--large-font-size);

            &_text {
                background-color: var(--transparent);
            }
        }

        .submit-button {
            .send-icon {
                background-image: url(./images/send_dark.svg);
            }
        }

        .withdraw-button {
            &>span {
                background-image: url(./images/mdi_arrow_downward.svg);
                background-repeat: no-repeat;
                background-size: 20px;
            }
        }

        .logo-textless {
            background-image: url(./images/ZK_dark.svg);
        }

        .custom-selector {
            &.contacts {
                .custom-selector-title {
                    &>span {
                        background-image: url(./images/mdi_people_dark.svg);
                    }
                }
            }
        }

        .submit-label {
            &.Deposit {
                background-image: url(./images/deposit_dark.svg);

                &.false {
                    background-image: url(./images/deposit_dark_disable.svg);
                }
            }

            &.unlock {
                background-image: url(./images/lock_dark.svg);

                &.locked {
                    background-image: url(./images/lock_dark_disabled.svg);
                }
            }

            &.Send {
                background-image: url(./images/send_dark.svg);

                &.false {
                    background-image: url(./images/send_dark_disable.svg);
                }
            }

            &.Withdraw {
                background-color: var(--button-text-color);

                &.false {
                    background-color: var(--hints-color);
                }
            }
        }

        &>.content-wrapper {
            & .menu-top {
                & .menu-logo {
                    background-image: url(./images/ZK_dark.svg);
                }
            }

            &.start-page {
                background: var(--main-bg-color);
            }

            &>.footer {
                &-wrapper {
                    &>.theme-switch {
                        background-image: url(./images/mdi_wb_sunny.svg);
                    }
                }
            }

            &>.content {
                &>.mywallet-wrapper {
                    &>.submit-button {
                        &>span {
                            background-image: url(./images/send_dark.svg);
                        }
                    }

                    &>.mywallet-currency-block {
                        background-color: var(--currency-block-color);
                        border-bottom: 1px solid var(--copyblock-color);
                        border-left: none;

                        &>.mywallet-currency-wrapper {
                            &>.mywallet-currency-selector {
                                background-image: url(./images/arrow-select-dark.svg);
                            }
                        }
                    }
                }
            }
        }

        & .arrow-down {
            background-image: url(./images/arrow-select-dark.svg);
        }

        .arrow-select {
            background: url(./images/arrow-select-dark.svg);
            background-repeat: no-repeat;
            background-position: center;
            background-size: contain;
        }

        .balances-search {
            background-image: url(./images/mdi_search_dark.svg);
        }
    }

    .menu-trigger {
        filter: invert(1);
    }

    .modal {
        & .icon {
            &-qr {
                background: url(./images/icon-qr_dark.svg);
                background-repeat: no-repeat;
                background-size: contain;
            }

            &-disconnect {
                background: url(./images/icon-disconnect_dark.svg);
                background-repeat: no-repeat;
                background-size: contain;
            }

            &-edit {
                background: url(./images/icon-edit_dark.svg);
                background-repeat: no-repeat;
                background-size: contain;
            }
        }
    }

    .contact-info-address-container {
        &>.copy-block-button {
            background-image: url(./images/mdi_file_copy_dark.svg);
        }
    }

    .copy-block {
        &>.copy-block-button {
            background-image: url(./images/mdi_file_copy_dark.svg);
        }
    }
}
