/* stylelint-disable no-descending-specificity */
/* stylelint-disable plugin/no-low-performance-animation-properties */
@import './dark';

:root {
  --font-family: 'IBM Plex Sans', sans-serif;
  font-family: var(--font-family);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --light-bg-color: #fff;
  --button-text-color: #fff;
  --modal-bg-color: #fff;
  --dark-color: #000;
  --hints-color: rgba(0, 0, 0, 0.4);
  --hints-color-active: rgba(0, 0, 0, 0.6);
  --button-bg-color: #8c8dfc;
  --button-bg-hover: #797afb;
  --main-bg-color: #f3f4f7;
  --main-light-bg-color: #fff;
  --bg-block-color: #f3f5ff;
  --border-color: rgba(24, 13, 13, 0.08);
  --light-border-color: rgba(0, 0, 0, 0.08);
  --info-message-color: #fff8de;
  --shaded-color: #4e6e8e;
  --info-message-text-color: #aa935d;
  --copyblock-color: rgba(0, 0, 0, 0.04);
  --input-color: rgba(0, 0, 0, 0.02);
  --input-border-focus: rgba(0, 0, 0, 0.2);
  --error-color: rgba(255, 101, 35, 0.17);
  --delete-color: #ae1e1e;
  --delete-color-light: #ff0000;
  --links-color: #4e529a;
  --success-color: #5cb85c;
  --transparent: transparent;
  --backdrop-color: rgba(0, 0, 0, 0.4);
  --typing-color: #2f008a;
  --twitter-color: #1DA1F2;
  --yellow-color: yellow;

  --xs-font-size: 12px;
  --sm-font-size: 14px;
  --md-font-size: 18px;
  --large-font-size: 22px;
  --xl-font-size: 27px;
  --xxl-font-size: 32px;
  --xxxl-font-size: 43px;

  --medium-font-weight: 500;
  --semibold-font-weight: 600;
  --bold-font-weight: 700;
}

.beta {
  &-container {
    display: flex;
    align-items: center;
  }

  &-text {
    margin-bottom: 10px;
    margin-left: 10px;
    color: var(--delete-color);
    font-weight: var(--semibold-font-weight);
    font-size: var(--sm-font-size);
  }
}

body.fixed,
body.fixed-b {
  height: 100vh;
  overflow-y: scroll;
}

#root.fixed {
  overflow: hidden;
}

body,
html {
  display: block;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  background-color: var(--main-bg-color);
  transition-timing-function: ease-in-out;
  transition-duration: 200ms;
  transition-property: background-color, opacity;
}

html {
  height: 100vh;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

* {
  box-sizing: border-box;
  outline: none;

  &:active,
  &:hover,
  &:focus {
    outline: none;
  }
}

p {
  margin-top: 0;
  color: var(--dark-color);
}

a {
  text-decoration: none;
}

*:hover {
  transition-timing-function: ease-in-out;
  transition-duration: 200ms;
  transition-property: background-color, opacity;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  color: var(--dark-color);
}

input {
  width: 100%;
  height: 36px;
  margin-bottom: 0;
  padding: 22px;
  color: var(--dark-color);
  font-size: var(--sm-font-size);
  border: 1px solid var(--border-color);
  border-radius: 5px;
  outline: none;
  appearance: none;

  &::placeholder {
    font-size: var(--sm-font-size);
  }

  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    margin: 0;
    -webkit-appearance: none;
  }

  input[type='number'] {
    -moz-appearance: textfield;
  }

  &:focus {
    border: 1px solid var(--input-border-focus);
  }
}

button {
  cursor: pointer;
}

*.pointer {
  cursor: pointer;
}

.edit-icon {
  width: 20px;
  height: 20px;
  background-image: url(./images/icon-edit-blue.svg);
  background-size: contain;
}

.grey-block {
  width: 100%;
  margin-bottom: 30px;
  padding: 15px;
  text-align: left;
  word-break: break-word;
  background-color: var(--copyblock-color);
  border: 1px solid var(--border-color);
  border-radius: 5px;

  & > h3 {
    margin-top: 25px;
    margin-bottom: 15px;
  }

  p {
    font-size: var(--md-font-size);
  }

  a {
    color: var(--links-color);
    font-size: var(--md-font-size);
  }
}

.btn {
  &-tr {
    margin-top: 0;

    &:hover {
      background-color: var(--border-color) !important;
    }

    &:active {
      background-color: var(--input-border-focus) !important;
    }
  }

  &-cancel {
    height: 26px;
    margin-top: 10px;
    padding: 0 25px;
    color: var(--delete-color);
    font-size: var(--md-font-size);
    background-color: var(--transparent);
    border: none;
    border-radius: 13px;

    &.dark {
      width: 300px;
      color: var(--hints-color);
    }

    &.center {
      display: block;
      margin: 10px auto;
    }

    &.delete {
      display: flex;
      align-items: center;
      color: var(--delete-color-light);
    }

    img {
      margin-right: 10px;
    }
  }
}

h2 {
  font-weight: var(--bold-font-weight);
  font-size: var(--xl-font-size);
}

.default-text {
  color: var(--dark-color);
}

.radiobutton {
  width: 20px;
  min-width: 20px;
  height: 20px;
  min-height: 20px;
  overflow: hidden;
  border: 1px solid var(--input-border-focus);
  border-radius: 100%;

  &-selected {
    position: relative;
    width: 18px;
    height: 18px;
    background-color: var(--success-color);

    &::before {
      position: absolute;
      top: 50%;
      left: 50%;
      width: 10px;
      height: 10px;
      color: var(--light-bg-color);
      background-color: var(--light-bg-color);
      border-radius: 100%;
      transform: translate(-50%, -50%);
      content: '';
    }
  }
}

.checkbox {
  width: 15px;
  min-width: 15px;
  height: 15px;
  min-height: 15px;
  overflow: hidden;
  border: 1px solid var(--input-border-focus);
  border-radius: 2px;

  &-text {
    margin-bottom: 0;
    margin-left: 30px;
  }

  &-check {
    position: relative;
    width: 15px;
    height: 15px;
    background-color: var(--success-color);

    &::before {
      position: absolute;
      top: 3px;
      left: 7px;
      width: 2px;
      height: 7px;
      color: var(--light-bg-color);
      background-color: var(--light-bg-color);
      transform: rotate(45deg);
      content: '';
    }

    &::after {
      position: absolute;
      top: 5px;
      left: 4px;
      width: 2px;
      height: 4px;
      color: var(--light-bg-color);
      background-color: var(--light-bg-color);
      transform: rotate(135deg);
      content: '';
    }
  }
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  min-height: calc(100vh - 220px);
  &-wrapper {
    width: 100%;
    min-height: 100vh;
    margin: 0;
    background: var(--main-bg-color);

    &.start-page {
      background: url(./images/start_page_bg.jpg) no-repeat center;
      background-size: cover;
    }
  }
}

.error {
  &-text {
    margin-bottom: 0;
    color: var(--transparent);

    &.visible {
      color: var(--delete-color);
    }
  }

  &-container {
    min-height: 42px;
    margin-bottom: 10px;
    text-align: center;
  }
}

.external {
  &-address {
    margin-bottom: 30px;
  }

  &-argument {
    margin-top: 20px;
    margin-bottom: 10px;
  }

  &-wallet {
    &-wrapper {
      display: flex;
      justify-content: space-between;
      width: 100%;
      max-width: 505px;
    }
  }
}

.hint {
  &-link {
    font-weight: var(--bold-font-weight);
  }

  &-datalist {
    &-wrapper {
      bottom: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 50px;
    }
  }

  &-question-mark {
    width: 20px;
    height: 20px;
    margin-left: 20px;
    color: var(--button-text-color);
    font-size: var(--sm-font-size);
    background-color: var(--input-border-focus);
    border: none;
    border-radius: 10px;

    &.marginless {
      margin-left: 5px;
    }
  }

  &-block {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 20px 0;

    .hint-wrapper {
      position: relative;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      padding: 0 40px;

      & > .hint-question-mark {
        position: absolute;
        right: 0;
        visibility: hidden;
      }

      .mywallet-title {
        margin-bottom: 0;
      }
    }

    &:hover {
      .hint-wrapper {
        & > .hint-question-mark {
          visibility: visible;
        }
      }
    }
  }

  &-walleticon {
    width: 30px;
    height: 30px;
    margin: 20px auto;
    color: var(--button-bg-color);
    font-size: var(--xxl-font-size);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;

    &.Metamask {
      background-image: url(./images/metamask.png);
    }

    &.Coinbase {
      background-image: url(./images/coinbase.png);
    }

    &.WalletConnect {
      background-image: url(./images/walletconnect.png);
    }

    &.Portis {
      background-image: url(./images/portis.png);
    }

    &.Fortmatic {
      background-image: url(./images/fortmatic.png);
    }
  }

  &-body {
    margin-top: 30px;
    text-align: left;

    p {
      & > a {
        color: var(--button-bg-color);
        font-weight: var(--medium-font-weight);
        text-decoration: underline;
        cursor: pointer;

        &:hover {
          text-decoration: none;
        }
      }
    }
  }

  &-unlocked {
    position: absolute;
    z-index: 10000;
    display: none;
    align-items: center;
    justify-content: center;
    max-width: 300px;
    min-height: 40px;
    padding: 20px;
    color: var(--dark-color);
    background-color: var(--modal-bg-color);
    border: 1px solid var(--light-border-color);
    border-radius: 5px;

    &.true {
      display: flex;
    }
  }

  &-copied {
    position: absolute;
    top: -20px;
    right: 20px;
    min-width: 120px;
    min-height: 20px;
    max-height: 30px;
    padding: 5px 10px;
    color: var(--dark-color);
    line-height: 20px;
    background-color: var(--modal-bg-color);
    border: 1px solid var(--light-border-color);
    border-radius: 5px;
    & > p {
      font-size: var(--md-font-size) !important;
      text-align: center;
    }
  }
}

.copy-block {
  & > .copy-block-button {
    &:not(.contact-manage-copy) {
      position: relative;
      background-image: url(./images/mdi_file_copy.svg);
    }
    &::before {
      opacity: 0;
      transition: opacity .2s;
      content: '';
    }
    &.copied {
      &::before {
        position: absolute;
        bottom: 40px;
        left: 50%;
        display: block;
        min-width: 120px;
        height: 30px;
        padding: 5px 10px;
        color: var(--dark-color);
        font-size: var(--md-font-size) !important;
        line-height: 20px;
        background-color: var(--modal-bg-color);
        border: 1px solid var(--light-border-color);
        border-radius: 5px;
        transform: translateX(-50%);
        opacity: 1;
        content: 'Copied!';
      }
    }
  }
}

.typing {
  &-cursor {
    display: none;
  }

  &-wrapper {
    width: 100%;
    min-height: 60px;
    margin: 1.2rem 0 0;
  }
}

.lfm__typing_effect {
  display: block;
  color: var(--typing-color);
  font-weight: var(--medium-font-weight);
  font-size: var(--large-font-size);

  &_text {
    background-color: var(--yellow-color);
  }
}

.wrong-network {
  width: 90%;
  margin: 20px auto 36px;
  padding: 27px;
  color: var(--dark-color);
  text-align: center;
  background-color: var(--error-color);
  border: 1px solid var(--border-color);
  border-radius: 5px;

  & > p {
    margin-bottom: 0;
    font-weight: var(--medium-font-weight);
    font-size: var(--large-font-size);
  }

  &-logo {
    width: 22px;
    height: 22px;
    margin: 0 auto 10px;
    background-image: url(./images/mdi_network_wifi.svg);
    background-repeat: no-repeat;
    background-size: contain;
  }
}

.wallet {
  &-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-top: 36px;
    color: var(--dark-color);
    text-align: center;
    background-color: var(--transparent);
    border: none;
    outline: none;
    cursor: auto;

    &:active {
      background-color: var(--transparent);
    }

    & > p {
      margin-top: 10px;
      font-size: var(--sm-font-size);
      cursor: pointer;
    }

    &.externalClicked {
      position: relative;
      .btn
      {
        opacity:0.4;
      }

      &::before {
        position: absolute;
        top: -19px;
        right: 11px;
        z-index: 100;
        width: 48px;
        height: 48px;
        background: transparent url('./images/External/lock.svg') 50% 50% no-repeat;
        background-size: cover;
        opacity: 1;
        filter: drop-shadow(0px 10px 40px rgba(0, 0, 0, 0.1));
        content: "";
      }
    }
  }

  &-button {
    width: 85px;
    height: 85px;
    color: var(--button-bg-color);
    font-size: var(--xxxl-font-size);
    background-color: var(--light-bg-color);
    background-repeat: no-repeat;
    background-position: center;
    border: none;
    border-radius: 27px;
    outline: none;
    box-shadow: 0 4px 8px var(--copyblock-color);
    cursor: pointer;

    .fa-globe {
      margin-top: 50%;
      transform: translateY(-50%);
    }

    &.External {
      position: relative;
      background-image: url(./images/Ethereum.png);
      background-size: 80px;
    }

    &.Coinbase {
      background-image: url(./images/coinbase.png);
      background-size: 50px;
    }

    &.WalletConnect {
      background-image: url(./images/walletconnect.png);
      background-size: 63px;
    }

    &.BurnerWallet {
      background-image: url(./images/burnerwallet.png);
      background-size: contain;
    }

    &.Metamask {
      background-image: url(./images/metamask.png);
      background-size: 54px 50px;
    }

    &.Portis {
      background-image: url(./images/portis.png);
      background-size: 36px 54px;
    }

    &.Fortmatic {
      background-image: url(./images/fortmatic.png);
      background-size: 60px;
    }
  }
}

.additionalTooltip#ExternalTooltip {
  display: flex !important;
  flex-direction: column !important;
  align-items: flex-start !important;
  max-width: 330px !important;
  padding: 20px 30px !important;
  color: var(--dark-color) !important;
  background-color: var(--modal-bg-color) !important;
  border-radius: 10px !important;
  box-shadow: 0 10px 40px rgba(0, 0, 0, 0.1) !important;
  opacity: 0.975 !important;
  filter: drop-shadow(0 2px 8px rgba(0, 0, 0, 0.15)) !important;
  @media screen and (max-width: 768px) {
    top: 50vh !important;
    right: 10vw !important;

    left: 10vw !important;
    width: 80vw !important;
    min-height: fit-content !important;
    max-height: max-content !important;
    margin: -25vh auto 0 !important;
    padding-bottom: 0 !important;
  }

  &::after {
    @media screen and (max-width: 768px) {
      display: none !important;
      content: none !important;

    }
  }

  h3 {
    display: block;
    width: 100%;
    margin-bottom: 10px;
    font: 500 22px/29px 'IBM Plex Sans', sans-serif;
    text-align: center !important;
  }

  span.description {
    display: block;
    margin-bottom: 20px;
    color: var(--dark-color) !important;
    font: 300 16px/21px 'IBM Plex Sans', sans-serif;
    text-align: left;
  }

  a.expandTooltip {
    /* --links-color */
    display: flex;
    margin: 0 auto 20px;
    padding: 11px 20px 11px 14px;
    color: var(--button-text-color) !important;
    font: 500 14px/18px 'IBM Plex Sans', sans-serif;
    letter-spacing: -0.025em;
    text-transform: uppercase;
    background: var(--button-bg-color) !important;
    border-radius: 4px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    cursor: pointer;

    &:hover {
      opacity: 0.75;
    }
  }

  .withdrawBlock {
    display: none;

    &.showBlock {
      display: block !important;
    }

    span.withdrawConditions {
      flex-basis: 100%;
      margin-bottom: 10px;
      padding: 0 10px;
      font: normal 12px/16px 'IBM Plex Sans', sans-serif;

      /* SystemBackground */
    }

    ul {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-evenly;
      padding: 0;
      list-style: none;

      & > li {
        width: 48px;
        height: 48px;
        list-style: none;

        a {
          display: block;
          width: 48px;
          height: 48px;
          overflow: hidden;
          text-indent: -1000px;
          background: var(--bg-block-color) 50% 50% no-repeat;
          background-size: cover;
          border-radius: 50%;
          opacity: 1;
          filter: drop-shadow(0px 10px 40px rgba(0, 0, 0, 0.1));
          transition: opacity 400ms ease-in;

          &:hover {
            opacity: 0.75;
          }

          &.twitterWithdraw {
            background-image: url('./images/External/Twitter_white.svg');
          }

          &.discordWithdraw {
            background-image: url('./images/External/discord.svg');
          }

          &.emailWithdraw {
            background-image: url('./images/External/Mail.svg');
          }
        }
      }
    }
  }
}

.submit-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 50px;
  color: var(--button-text-color);
  font-size: var(--md-font-size);
  line-height: 50px;
  background-color: var(--button-bg-color);
  border: none;
  border-radius: 25px;
  outline: none;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
  cursor: pointer;

  & > .twitter {
    width: 20px;
    height: 20px;
    margin-right: 10px;
    background-image: url(./images/twitter.svg);
  }

  &.margin {
    margin: 25px 0 25px;
  }

  &.twitter {
    width: 150px;
    height: 80px;
    margin: 0 auto;
    background-color: var(--twitter-color);
    border-radius: 6px;
  }

  &.transparent {
    margin-bottom: 30px;
    color: var(--button-bg-color);
    background-color: var(--transparent);
    border: 2px solid var(--button-bg-color);

    &:hover {
      color: var(--button-bg-hover);
      background-color: var(--transparent);
      border: 2px solid var(--button-bg-hover);
    }

    &:active {
      color: var(--links-color);
      background-color: var(--transparent);
      border: 2px solid var(--links-color);
      box-shadow: none;
    }
  }

  &.small {
    height: 40px;
    border: 1px solid var(--light-border-color);
    box-shadow: none;

    &:hover {
      border: 1px solid var(--light-border-color);
    }

    &:active {
      border: 1px solid var(--light-border-color);
    }
  }

  &.disabled {
    color: var(--hints-color);
    background-color: var(--border-color);
    box-shadow: var(--transparent);
    cursor: default;

    &:hover {
      background-color: var(--border-color);
    }

    &:active {
      background-color: var(--border-color);
    }
  }

  &:hover {
    background-color: var(--button-bg-hover);
  }

  &:active {
    background-color: var(--links-color);
  }

  .send-icon {
    display: block;
    width: 22px;
    height: 22px;
    margin-right: 10px;
    background-image: url(./images/send_white.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
  }
}

.logo-textless {
  width: 300px;
  height: 60px;
  margin: 45px 0 27px;
  background-image: url(./images/ZK_light.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.wallets-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, 135px);
  max-width: 95vw;
  margin: 0 2.5vw;
}

.welcome-text {
  text-align: center;

  & > h1 {
    margin-bottom: 0;
    color: var(--dark-color);
    font-weight: var(--bold-font-weight);
    font-size: var(--large-font-size);
  }

  & > h2 {
    color: var(--dark-color);
    font-weight: var(--medium-font-weight);
    font-size: var(--large-font-size);
  }

  & > p {
    margin: 54px 0 0;
    color: var(--dark-color);
    font-size: var(--md-font-size);
  }
}

.token {
  &-price {
    font-size: var(--sm-font-size);
  }
}

.undo {
  &-text {
    margin: 25px 0 0;
  }

  &-btn {
    margin-left: 10px;
    color: var(--button-bg-color);
    font-weight: var(--semibold-font-weight);
    text-decoration: underline;
    background: var(--transparent);
    border: none;
    cursor: pointer;

    &.marginless {
      margin: 0;
    }

    &.margin {
      display: block;
      margin: 15px auto 25px;
    }

    &.block {
      display: block;
      margin-top: 20px;
      margin-bottom: 20px;
      margin-left: 0;
    }

    &.unlock {
      display: block;
      margin: 20px auto;
      font-size: var(--md-font-size);
    }

    &.large {
      margin-top: 25px;
      font-size: var(--md-font-size);
    }

    &:hover {
      text-decoration: none;
    }
  }
}

.md-font {
  font-size: var(--md-font-size);
}

.lg-font {
  font-size: var(--large-font-size);
}

.dropdown {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 50px;
  margin: 15px 0;
  padding: 0 15px;
  background-color: var(--transparent);
  border: 1px solid var(--light-border-color);
  border-radius: 5px;
  cursor: pointer;

  &-item {
    margin: 0;
  }

  &:hover {
    border: 1px solid var(--hints-color);
  }
}

.contact-manage {
  background-color: var(--modal-bg-color);

  &-delete {
    position: relative;
    overflow: hidden;
    color: var(--delete-color);
    font-size: var(--md-font-size);
    border-bottom: none;

    & > a {
      position: absolute;
      left: 0;
      z-index: 10000;
      width: 100%;
      height: 100%;
    }
  }

  &-edit {
    width: 32px;
    height: 32px;
    margin-left: 10px;
    color: var(--dark-color);
    font-size: var(--md-font-size);
    line-height: 34px !important;
    background-color: var(--transparent);
    border: none;

    &.contact-page {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 80px;
      margin-top: 2px;
      padding: 5px 10px 10px;

      & > span {
        margin-top: 5px;
      }
    }
  }

  &-delete,
  &-edit,
  &-copy {
    position: relative;
    width: 32px;
    height: 32px;
    color: var(--button-bg-color);
    font-size: var(--md-font-size);
    line-height: 32px;
    text-align: center;

    &:hover {
      border-radius: 4px;
    }

    & .tooltip {
      bottom: 30px;
      left: 50%;
      display: none;
      width: auto;
      padding: 10px;
      color: var(--dark-color);
      text-align: center;
    }

    &:hover .tooltip {
      position: absolute;
      z-index: 10000;
      display: block;
      background: var(--modal-bg-color);
      border: 1px solid var(--hints-color);
      border-radius: 5px;
    }


    > img {
      width: 1em;
      margin-right: 10px;
    }

    > p {
      margin: 0;
      white-space: nowrap;
    }
  }

  & > button,
  & > a {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 50%;
    padding-left: 18px;
    overflow: hidden;
    text-align: left;
    background-color: var(--transparent);
    border: none;

    p {
      width: 100%;
      text-align: center;
    }

    &:hover {
      background-color: var(--copyblock-color);
    }
  }
}

input[type='radio'] + .contact-manage {
  display: none;
  outline: none;
}

.contact-edit-wrapper:focus-within > .contact-manage {
  z-index: 10000;
  display: block;
}

input[type='radio']:focus + .contact-manage {
  display: block;
  outline: none;
}

#walletconnect-qrcode-close {
  cursor: pointer;
}

.balances-contact-edit {
  width: 20px;
  padding: 15px;
  background-image: url(./images/mdi_more_horiz.svg);
}

.custom-selector {
  position: relative;
  z-index: 1000;
  width: 100%;
  height: 25px;
  text-align: center;

  &-wrapper {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 100;
    width: 100vw;
    height: 100vh;
    background-color: var(--dark-color);
    opacity: 0.5;

    &.open {
      display: block;
    }

    &.closed {
      display: none;
    }
  }

  &-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 22px;
    text-overflow: ellipsis;
    cursor: pointer;

    & > p {
      margin-bottom: 0;
      padding-right: 10px;
      overflow: hidden;
      color: var(--dark-color);
      white-space: nowrap;
      text-overflow: ellipsis;
    }

    & > .arrow-down {
      min-width: 15px;
      height: 10px;
      background-image: url(./images/arrow-select.svg);
      background-repeat: no-repeat;
      background-size: contain;
    }

    & > span {
      display: block;
      width: 22px;
      height: 22px;
      margin-left: 35px;
      background-image: url(./images/mdi_people.svg);
      background-repeat: no-repeat;
      background-size: contain;
    }
  }

  &.contacts {
    &.disabled {
      width: 5px;
    }

    & > .custom-selector-title {
      padding: 10px 5px;

      &.disabled {
        width: 5px;
        cursor: default;
        pointer-events: none;

        &:hover {
          background-color: var(--transparent);
        }
      }

      & > span {
        background-image: url(./images/mdi_people.svg);
      }
    }
  }

  &.balances {
    & > .custom-selector-title {
      max-width: 100px;
      margin-top: 0;
      padding: 5px;

      &.external {
        width: 100%;
        max-width: 560px;

        & > span {
          width: 100%;
        }
      }

      &.empty {
        margin-top: -5px;
      }

      & > span {
        height: 45px;
        margin-left: 0;
        color: var(--dark-color);
        font-size: var(--large-font-size);
        line-height: var(--xxxl-font-size);
        background-image: none;
      }

      & > p {
        overflow: hidden;
        color: var(--dark-color);
        font-size: var(--xl-font-size);
        text-overflow: unset;
      }
    }

    &.mywallet {
      margin-top: 22px;

      & > .custom-selector-title {
        & > p {
          margin-top: 0;
          font-size: var(--md-font-size);
        }

        & > span {
          font-weight: var(--medium-font-weight);
          font-size: var(--md-font-size);
        }

        & > .arrow-down {
          width: 10px;
          min-width: 10px;
          margin-top: 5px;
        }
      }
    }
  }

  &-list {
    position: absolute;
    left: 0;
    z-index: 10000;
    min-width: 108px;
    padding-left: 0;
    text-align: center;
    background-color: var(--modal-bg-color);
    border: none;
    border-radius: 5px;
    transition: opacity 200ms ease;

    &-item {
      padding: 5px 10px;
      color: var(--dark-color);
      list-style-type: none;
      border-bottom: 1px solid var(--border-color);
      cursor: pointer;

      &:hover {
        background-color: var(--copyblock-color);
      }
    }

    &.open {
      height: auto;
      opacity: 1;
    }

    &.closed {
      width: 0;
      height: 0;
      max-height: 0;
      padding: 0;
      overflow: hidden;
      opacity: 0;
    }
  }
}

.arrow-select {
  width: 14px;
  height: 15px;
  background: url(./images/arrow-select.svg) no-repeat center;
  background-size: contain;
}

.hint-independent {
  position: fixed;
  top: 50%;
  right: 40px;
  z-index: 10000;
  display: block;
  width: auto;
  min-width: 200px;
  max-width: 300px;
  padding: 10px;
  text-align: center;
  background: var(--modal-bg-color);
  border: 1px solid var(--button-bg-color);
  border-radius: 5px;
}

.title {
  &-connecting {
    margin: 27px 0 36px;
    color: var(--dark-color);
    font-weight: var(--bold-font-weight);
    font-size: var(--large-font-size);
    text-align: center;
  }
}

.scroll-wrapper {
  width: 200px;
  height: 35px;
  overflow-x: scroll;
  overflow-y: hidden;
  scrollbar-color: var(--button-bg-color) var(--transparent);
  scrollbar-width: thin;
}

.scroll-wrapper::-webkit-scrollbar {
  width: 6px;
  height: 4px;
  overflow-x: scroll;
  background: var(--transparent);
  cursor: pointer;
  scrollbar-color: var(--transparent);
}

.scroll-wrapper::-webkit-scrollbar-thumb:horizontal {
  background: var(--button-bg-color);
  border-radius: 10px;
}

@media screen and (min-width: 768px) {
  .submit-button {
    height: 72px;
    font-size: var(--large-font-size);
    line-height: 72px;
    border-radius: 36px;
  }

  input {
    height: 72px;
  }

  .welcome-text {
    & > h1 {
      font-size: var(--xxl-font-size);
    }

    & > h2 {
      font-size: var(--xxl-font-size);
    }

    & > p {
      font-weight: var(--medium-font-weight);
      font-size: var(--large-font-size);
    }
  }

  .wallet {
    &-block {
      & > p {
        font-size: var(--md-font-size);
      }
    }

    &-button {
      width: 130px;
      height: 130px;

      &.Coinbase {
        background-size: 74px;
      }

      &.WalletConnect {
        background-size: 95px;
      }

      &.Metamask {
        background-size: 83px 75px;
      }

      &.Portis {
        background-size: 52px 80px;
      }

      &.Fortmatic {
        background-size: 90px;
      }
    }
  }

  .custom-selector {
    position: relative;
    width: 100%;
    height: 22px;

    &.external {
      height: 40px;
    }

    &-title {
      display: flex;
      align-items: center;
      justify-content: space-between;
      height: 36px;
      font-size: var(--large-font-size);
      text-overflow: ellipsis;
      border-radius: 6px;
      cursor: pointer;

      &.external {

        & > span {
          width: 100%;
          font-size: var(--xl-font-size);
        }
      }

      &:hover {
        background-color: var(--copyblock-color);
      }

      & > p {
        margin-bottom: 0;
        padding-right: 10px;
        overflow: hidden;
        color: var(--dark-color);
        white-space: nowrap;
        text-overflow: ellipsis;
      }

      & > div {
        width: 15px;
        height: 10px;
        background-image: url(./images/arrow-select.svg);
        background-repeat: no-repeat;
        background-size: contain;
      }

      & > span {
        display: block;
        width: 22px;
        height: 22px;
        margin-left: 10px;
        background-image: url(./images/mdi_people.svg);
        background-repeat: no-repeat;
        background-size: contain;
      }
    }

    &.contacts {
      & > .custom-selector-title {
        height: 36px;
        margin-top: -9px;
        margin-left: 20px;

        &.short {
          margin-left: 40px;
        }

        & > span {
          background-image: url(./images/mdi_people.svg);
        }
      }
    }

    &.balances {
      & > .custom-selector-title {
        margin-top: 0;

        &.empty {
          margin-top: -10px;
        }

        &.external {
          & > span {
            font-size: var(--large-font-size);
          }
        }

        & > span {
          font-size: var(--xxxl-font-size);
        }
      }

      &.mywallet {
        margin-top: 11px;
        margin-left: 12px;

        & > .custom-selector-title {
          &:hover {
            background-color: var(--copyblock-color);
          }

          & > p {
            font-size: var(--large-font-size);
          }

          & > span {
            font-weight: var(--medium-font-weight);
            font-size: var(--large-font-size);
          }

          & > .arrow-down {
            width: 12px;
            min-width: 12px;
            margin-top: 4px;
            background-position: center;
          }
        }
      }
    }
  }

  .wallets-wrapper {
    grid-template-columns: repeat(auto-fit, 190px);
    max-width: 860px;
    margin: 0 auto;
  }
}

$dur: 0.2s;
$scale: 0.95;
.transition {
  &-scale {
    &-enter {
      transform: scale($scale);
      opacity: 0;
    }

    &-enter-active {
      transform: scale(1);
      opacity: 1;
      transition: opacity $dur, transform $dur;
    }

    &-exit {
      transform: scale(1);
      opacity: 1;
    }

    &-exit-active {
      transform: scale(0.9);
      opacity: 0;
      transition: opacity $dur, transform $dur;
    }
  }

  &-opacity {
    &-enter {
      opacity: 0;
    }
    &-enter-active {
      opacity: 1;
    }
    &-exit {
      opacity: 1;
    }
    &-exit-active {
      opacity: 0;
    }

    &-enter-active,
    &-exit-active {
      transition: opacity $dur;
    }
  }
  &-fly {
    &-enter {
      transform: translateY(10px);
      opacity: 0;
    }
    &-enter-active {
      transform: translateY(0px);
      opacity: 1;
    }
    &-exit {
      transform: translateY(0px);
      opacity: 1;
    }
    &-exit-active {
      transform: translateY(10px);
      opacity: 0;
    }

    &-enter-active,
    &-exit-active {
      transition: opacity $dur, transform $dur;
    }
  }
  &-modal {
    &-enter {
      opacity: 0;
      .modal {
        transform: scale(0.95) rotateX(-10deg);
      }
    }
    &-enter-active {
      opacity: 1;
      .modal {
        transform: scale(1);
      }
    }
    &-exit {
      opacity: 1;
      .modal {
        transform: scale(1);
      }
    }
    &-exit-active {
      opacity: 0;
      .modal {
        transform: scale(0.95) rotateX(10deg);
      }
    }

    &-enter-active,
    &-exit-active {
      transition: opacity $dur;
      .modal {
        transition: transform $dur;
      }
    }
  }
}

.truncate {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
