:root {
  --font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
    'Droid Sans', 'Helvetica Neue', sans-serif;
  margin: 0;
  font-family: var(--font-family);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --light-color: #fff;
  --dark-color: #000;
  --hints-color: rgba(0, 0, 0, 0.4);
  --button-bg-color: #8C8DFC;
  --main-bg-color: #F3F4F7;
  --bg-block-color: #F3F5FF;
  --border-color: rgba(24, 13, 13, 0.08);
  --copyblock-color: rgba(0, 0, 0, 0.04);
  --input-color: rgba(0, 0, 0, 0.02);
  --transparent: transparent;

  --sm-font-size: 14px;
  --md-font-size: 18px;
  --large-font-size: 24px;
  --xl-font-size: 30px;
  --xxl-font-size: 48px;

  --bold-font-weight: 900;
}

body, html {
  margin: 0;
  padding: 0;
  background-color: var(--main-bg-color);
}

body.dark {
  --light-color: #000;
  --dark-color: rgba(255, 255, 255, 0.9);
  --hints-color: rgba(255, 255, 255, 0.4);
  --button-bg-color: #8C8DFC;
  --main-bg-color: #11142B;
  --bg-block-color: #1D2039;
  --border-color: rgba(24, 13, 13, 0.08);
  --copyblock-color: rgba(255, 255, 255, 0.2);
  --input-color: #000;
  --transparent: transparent;
}

body.fixed {
  overflow: hidden;
}

h2 {
  font-weight: var(--bold-font-weight);
  font-size: var(--xl-font-size);
}

.submit-button {
  width: 100%;
  max-width: 500px;
  height: 80px;
  color: var(--light-color);
  font-size: var(--large-font-size);
  background-color: var(--button-bg-color);
  border: none;
  border-radius: 40px;
  outline: none;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.content-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  min-height: 100vh;
  margin: 0;
  background-color: var(--main-bg-color);
}