.fau-unlock {
  &-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: var(--sm-font-size);

    & > p {
      margin-bottom: 0;
      color: var(--dark-color);
    }
  }

  &-tocken {
    position: relative;
    width: 50px;
    height: 25px;
    background-color: var(--success-color);
    border: none;
    border-radius: 20px;
    outline: none;

    &.false {
      background-color: var(--hints-color);
    }

    & > span {
      position: absolute;
      top: 50%;
      right: 6px;
      display: block;
      width: 15px;
      height: 15px;
      background-color: var(--button-text-color);
      border-radius: 8px;
      transform: translateY(-50%);

      &.false {
        right: 25px;
      }
    }
  }
}

.success-block {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px;
  color: var(--light-bg-color);
  background-color: var(--success-color);
  border-radius: 5px;
}

.info-block {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px;
  color: var(--info-message-text-color);
  background-color: var(--info-message-color);
  border: 1px solid var(--border-color);
  border-radius: 5px;

  & > p {
    margin-bottom: 0;
    font-size: var(--md-font-size);
  }

  &.center {
    margin-bottom: 25px;
    text-align: center;

    & > p {
      font-size: var(--large-font-size);
    }
  }
}

.currency {
  &-selector {
    margin-left: 10px;
    padding-right: 20px;
    color: var(--dark-color);
    font-size: var(--xxxl-font-size);
    background-color: var(--transparent);
    background-image: url(../../images/arrow-select.svg);
    background-repeat: no-repeat;  
    background-position: right;
    border: none;
    outline: none;
    appearance: none;

    & > option {
      /* stylelint-disable-next-line no-descending-specificity */
      & > p {
        font-size: var(--large-font-size);
      }
    }
  }

  &-input {
    max-width: 130px;
    padding: 10px 0;
    color: var(--dark-color);
    font-size: var(--md-font-size);
    line-height: var(--xl-font-size);
    background-color: var(--transparent);
    border: none;
    outline: none;

    &:focus {
      border: none;
    }

    &-address {
      width: 100%;
      max-height: 50px;
      padding: 0;
      color: var(--dark-color);
      font-size: var(--md-font-size);
      white-space: nowrap;
      text-overflow: ellipsis;
      background-color: var(--transparent);
      border: none;
      outline: none;

      &:focus {
        border: none;
      }
    }
    /* stylelint-disable-next-line no-descending-specificity */
    &-wrapper {
      display: flex;
      align-items: center; 
      justify-content: space-between;
      width: 100%;
      max-width: 500px;
      height: 50px;
      margin-top: 10px;
      margin-top: 0;
      background-color: var(--transparent);
      
      & > span {
        color: var(--hints-color);
      }

      &.border {
        width: 100%;
        height: 65px;
        border-bottom: 1px solid var(--border-color);
      }
    }

    &::placeholder {
      color: var(--hints-color);
      font-size: var(--xl-font-size);
      line-height: 40px;
    }
  }
}

.amount-price {
  display: none;
  margin-top: 10px;
  margin-left: 5px;
}

.all-balance {
  align-items: center;
  justify-content: space-between;
  width: auto;
  max-width: 220px;
  margin-left: -10px;
  padding: 0 10px;
  color: var(--links-color);
  font-size: var(--sm-font-size);
  text-decoration: underline;
  background-color: var(--modal-bg-color);
  border: none;
  border-radius: 5px;
  outline: none;

  &-wrapper {
    display: flex;
    color: var(--dark-color);
  }

  &:hover {
    background-color: var(--copyblock-color);
  }

  & > span {
    font-size: var(--xl-font-size);
  }
}

.submit-label {
  width: 20px;
  height: 20px;
  background-color: var(--transparent);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;

  &.unlock {
    background-image: url(../../images/lock.svg);
  }

  &.Deposit {
    background-image: url(../../images/deposit_white.svg);

    &.false{
      background-image: url(../../images/deposit_disable.svg);
    }
  }

  &.Send {
    background-image: url(../../images/send.svg);

    &.false{
      background-image: url(../../images/send_disable.svg);
    }
  }

  &.Withdraw {
    background-image: url(../../images/mdi_arrow_downward_white.svg);
    background-size: 17px;

    &.false{
      background-image: url(../../images/mdi_arrow_downward.svg);
      background-size: 20px;

    }
  }
}

.scroll-wrapper {
  width: 260px;
  height: 30px;
  overflow: hidden;
  overflow-x: scroll;

  & > .currency-input {
    min-width: 60px;
    max-width: none;
    max-width: inherit;
  }
}

.scroll-wrapper::-webkit-scrollbar{
  width: 6px;
  height: 4px;
  background: var(--transparent);
  cursor: pointer;

}

.scroll-wrapper::-webkit-scrollbar-thumb:horizontal{
  background: var(--button-bg-color);
  border-radius: 10px;
}

.transaction {
  &-title {
    margin: 8px 0 30px 10px;
    color: var(--dark-color);
    font-size: var(--large-font-size);
    text-align: center;
  }

  &-blockie {
    width: 20px;
    height: 20px;
    margin-right: 5px;
    border-radius: 100%;
  }

  &-contacts-list {
    position: absolute;
    top: 200px;
    left: 20px;
    z-index: 10000;
    width: calc(100% - 40px);
    background-color: var(--modal-bg-color);
    border: 1px solid var(--border-color);
    border-radius: 5px;
  }

  &-hint {
    word-break: break-all;
  }

  &-hash {
    margin-top: 18px;
    margin-bottom: 20px;
    color: var(--dark-color);
    font-size: var(--sm-font-size);

    & > span {
      color: var(--hints-color);
      word-break: break-all
    }
  }

  &-back {
    position: absolute;
    left: 30px;
    width: 44px;
    height: 44px;
    background: url(../../images/arrow-back.svg);
    background-color: var(--main-light-bg-color);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 16px;
    border: none;
    border-radius: 25px;
    outline: none;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.1);
    cursor: pointer;

    &:hover {
      background-color: var(--copyblock-color);
    }

    &:active {
      background-color: var(--border-color);
    }
  }

  &-fee {
    margin-bottom: 0;
    color: var(--dark-color);
    font-size: var(--sm-font-size);
    text-align: center;

    &-wrapper {
      height: 20px;
      margin-top: 10px;
    }

    & > span {
      color: var(--hints-color);
    }
  }

  &-wrapper {
    position: relative;
    width: 90vw;
    max-width: 560px;
    margin: 0 auto;
    margin-top: 15px;
    padding: 20px;
    background-color: var(--modal-bg-color);
    border-radius: 4px;

    & > .submit-buttom {
      margin: 20px 0;
    }

    /* stylelint-disable-next-line no-descending-specificity */
    & > p {
      align-self: center;
      width: 100%;
      margin-left: 50%;
      text-align: center;
      transform: translateX(-50%);
    }

    & > h1 {
      display: block;
      font-size: var(--xl-font-size);
      text-align: center;
    }

    &.open {
      display: block;
    }

    &.closed {
      display: none;
    }

    & > .spinner {
      margin: 30px auto;
    }
  }

  &-field {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    max-height: 55px;
    margin-bottom: 10px;
    padding: 0 15px;
    border: 1px solid var(--border-color);
    border-radius: 4px;

    &-amount {
      color: var(--dark-color);
      font-size: var(--xl-font-size);
    }

    &.contacts {
      flex-direction: column;
      align-items: flex-start;
      height: 80px;
      max-height: 100px;
      padding-top: 10px;

      & .arrow-down {
        min-width: 10px;
      }
      
      & > .currency-input-wrapper {
        position: relative;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        margin-top: 5px;

        & .custom-selector {
          &.short {
            max-width: 60px;          
          }
          
          & .custom-selector-title {
            margin-left: 0;

            &.short {
              margin-right: 0;
            }

            span {
              margin: 0;
            }
          }
        }
      }
    }

    &.balance {
      max-height: 90px;
      padding: 0;

      & .currency-input-wrapper {
        width: 100%;
        padding: 0 15px;
        font-size: var(--xs-font-size);

        &.border {
          width: 100%;
          height: 60px;
          padding: 0 15px;
        }

        & > .currency-input {
          padding: 0;
        }

        & > .custom-selector{
          &.balances {
            min-width: 140px;
            max-width: 150px;
            height: 75px;

            .custom-selector-title {
              max-width: 150px;
              height: 75px;

              & > span {
                width: 100%;
                max-width: 150px;
                overflow: hidden;
                font-size: var(--md-font-size);
                // white-space: nowrap;
                // text-overflow: ellipsis;
              }
            }
          }
        }
      }
    }

    &-title {
      display: block;
      margin-bottom: 10px;
      color: var(--hints-color);
    }
  }
}

p.transaction-field-amount {
  align-self: start;
  text-align: left;
}

p.transaction-hash {
  align-self: flex-start;
  text-align: left;
  word-break: break-all;

  & > a {
    color: var(--button-bg-color);
    text-decoration: none;
    text-decoration: underline;
  }
}

.contacts-selector {
  font-size: var(--md-font-size);
  background-color: var(--transparent);
  border: none;
  border-radius: 5px;
  outline: none;
}

.cross-clear {
  position: relative;
  width: 20px;
  height: 20px;
  text-align: center;
  background-color: var(--transparent);
  border: none;
  border-radius: 5px;

  &:hover {
    background-color: var(--border-color);
  }

  &::before, &::after {
    position: absolute;
    top: 2px;
    left: 9px;
    width: 2px;
    height: 15px;
    background-color: var(--dark-color);
    content: '';
  }

  &::before {
    transform: rotate(45deg);
  }

  &::after {
    transform: rotate(-45deg);
  }
}

@media screen and (min-width: 760px) {
  .fau-unlock {
    &-wrapper {
      font-size: var(--md-font-size);
    }
  }  

  .cross-clear {
    margin-bottom: 30px;
  }

  .amount-price {
    display: block;
    margin-top: 18px;
    margin-right: 40px;
    font-size: var(--md-font-size);
  }

  .currency {
    &-input {
      max-width: 300px;
      padding: 15px 0;
      font-size: var(--xxl-font-size);

      &::placeholder {
        font-size: var(--xxl-font-size);
      }

      &-wrapper {
        padding: 10px 0;
      }
    }
  }

  .all-balance {
    display: flex;
    font-size: var(--sm-font-size);
  }

  .transaction {
    &-title {
      font-size: var(--xl-font-size);
    }

    &-blockie {
      width: 20px;
      height: 20px;
      margin-right: 5px;
      margin-bottom: 30px;
      border-radius: 100%;
    }
  
    &-fee {
      margin-top: 0;
      color: var(--dark-color);
      font-size: var(--sm-font-size);
      text-align: center;
  
      & > span {
        color: var(--hints-color);
      }
    }

    &-contacts-list {
      top: 225px;
    }
  
    &-wrapper {
      position: relative;
      width: 90vw;
      max-width: 505px;
      margin: 0 auto;
      margin-top: 14px;
      padding: 29px;
      background-color: var(--modal-bg-color);
      border-radius: 4px;
  
      &.open {
        display: block;
      }
  
      &.closed {
        display: none;
      }
    }
  
    &-field {
      height: auto;
      min-height: 90px;
      max-height: 180px;
      padding-top: 5px;

      &.contacts {
        height: 100px;
        min-height: 72px;

        & .arrow-down {
          min-width: 15px;
        }

        .custom-selector-title {
          margin-left: 0;

          & span {
            width: 28px;
            height: 28px;
            margin-left: 30px;
          }
        }

        .custom-selector.contacts {
          margin-top: 20px;

          & > .custom-selector-title {
            margin-left: 5px;
          }
        }

        & > .currency-input-wrapper {
          position: relative;
          margin-top: 25px;
  
          & > .currency-input-address {
            margin-bottom: 30px;
            padding: 0 10px;
          }
  
          & > .custom-selector {
            margin-bottom: 50px;
            
            & > .custom-selector-title {
              margin-left: 0;
  
              &.short {
                max-width: 60px;
              }
  
              span {
                margin: 0;
              }
            }
          }
        }

        &.true {
          position: relative;
          padding-left: 40px;

          .label-done {
            position: absolute;
            bottom: 32px;
            left: -20px;
          }
        }
      }

      &.balance {
        min-height: 120px;

        & .currency-input-wrapper {
          width: calc(100% - 40px);
          padding: 0;
          font-size: var(--sm-font-size);

          &.border {
            width: calc(100% - 40px);
            height: 90px;
            padding: 15px 0 0;
          }

          & > .custom-selector{
            &.balances {
              display: block;
              width: auto;
              max-width: 230px;
              height: 68px;
  
              .custom-selector-title {
                width: auto;
                max-width: 230px;
                height: 68px;

                & > p {
                  max-width: 230px;
                  font-size: var(--xxxl-font-size);
                }

                & > span {
                  font-size: var(--md-font-size);
                }
              }
            }
          }
        }
      }
    } 
  }

  .scroll-wrapper {
    height: 60px;

    & > .currency-input {
      min-width: 80px;
    }
  }  
}

.tx-status {
  width: 50px;
  height: 50px;
  transform: rotate(-90deg);
}

.success-lottie-checkmark {
  display: flex;
  flex-flow: column;
  align-items: center;
}
