.fau-unlock {
  &-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px 0;

    & > p {
      margin-bottom: 0;
      color: var(--dark-color);
    }
  }

  &-tocken {
    position: relative;
    width: 40px;
    height: 20px;
    background-color: var(--success-color);
    border: none;
    border-radius: 10px;
    outline: none;

    &.false {
      background-color: var(--hints-color);
    }

    & > span {
      position: absolute;
      top: 50%;
      right: 4px;
      display: block;
      width: 12px;
      height: 12px;
      background-color: var(--button-text-color);
      border-radius: 6px;
      transform: translateY(-50%);

      &.false {
        right: 25px;
      }
    }
  }
}


.info-block {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px;
  color: var(--info-message-text-color);
  background-color: var(--info-message-color);
  border: 1px solid var(--border-color);
  border-radius: 5px;

  & > p {
    margin-bottom: 0;
    font-size: var(--md-font-size);
  }
}

.currency {
  &-selector {
    margin-left: 10px;
    padding-right: 20px;
    color: var(--dark-color);
    font-size: var(--xxxl-font-size);
    background-color: var(--transparent);
    background-image: url(../../images/arrow-select.svg);
    background-repeat: no-repeat;  
    background-position: right;
    border: none;
    outline: none;
    appearance: none;

    & > option {
      & > p {
        font-size: var(--large-font-size);
      }
    }
  }

  &-input {
    max-width: 250px;
    padding: 10px 0;
    color: var(--dark-color);
    font-size: var(--xxxl-font-size);
    background-color: var(--transparent);
    border: none;
    outline: none;

    &:focus {
      border: none;
    }

    &-address {
      width: 100%;
      max-height: 50px;
      padding: 0;
      font-size: var(--md-font-size);
      white-space: nowrap;
      text-overflow: ellipsis;
      background-color: var(--transparent);
      border: none;
      outline: none;

      &:focus {
        border: none;
      }
    }
    /* stylelint-disable-next-line no-descending-specificity */
    &-wrapper {
      display: flex;
      align-items: center; 
      justify-content: space-between;
      width: 100%;
      max-width: 500px;
      margin-top: 10px;
      margin-top: 0;
      background-color: var(--transparent);
      
      & > span {
        color: var(--hints-color);
      }

      &.border {
        border-bottom: 1px solid var(--border-color);
      }
    }

    &::placeholder {
      color: var(--hints-color);
      font-size: var(--xxxl-font-size);
      line-height: 40px;
    }
  }
}

.all-balance {
  position: absolute;
  left: 30%;
  display: none;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 130px;
  padding: 0;
  padding: 0 10px;
  color: var(--links-color);
  font-size: var(--sm-font-size);
  background-color: var(--modal-bg-color);
  border: none;
  border-radius: 5px;
  outline: none;

  &:hover {
    background-color: var(--copyblock-color);
  }

  & > span {
    font-size: var(--xl-font-size);
  }
}

.submit-label {
  width: 20px;
  height: 20px;
  background-color: var(--transparent);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;

  &.Deposit {
    background-image: url(../../images/deposit_white.svg);

    &.false{
      background-image: url(../../images/deposit_disable.svg);
    }
  }

  &.Send {
    background-image: url(../../images/send.svg);

    &.false{
      background-image: url(../../images/send_disable.svg);
    }
  }

  &.Withdraw {
    background-image: url(../../images/mdi_arrow_downward_white.svg);
    background-size: 17px;

    &.false{
      background-image: url(../../images/mdi_arrow_downward.svg);
      background-size: 20px;

    }
  }
}

.transaction {
  &-title {
    margin-bottom: 50px;
    color: var(--dark-color);
    font-size: var(--large-font-size);
    text-align: center;
  }

  &-back {
    position: absolute;
    left: 20px;
    width: 50px;
    height: 50px;
    background: url(../../images/arrow-back.svg);
    background-color: var(--main-light-bg-color);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 25px;
    border: none;
    border-radius: 25px;
    outline: none;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.1);
    cursor: pointer;
  }

  &-fee {
    margin-top: 25px;
    color: var(--dark-color);
    font-size: var(--sm-font-size);
    text-align: center;

    & > span {
      color: var(--hints-color);
    }
  }

  &-wrapper {
    position: relative;
    width: 90vw;
    max-width: 560px;
    margin: 0 auto;
    margin-top: 15px;
    padding: 20px;
    background-color: var(--modal-bg-color);
    border-radius: 4px;

    &.open {
      display: block;
    }

    &.closed {
      display: none;
    }
  }

  &-field {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    max-height: 55px;
    margin-bottom: 20px;
    padding: 0 25px;
    border: 1px solid var(--border-color);
    border-radius: 4px;

    &-amount {
      color: var(--dark-color);
      font-size: var(--xl-font-size);
    }

    &.balance {
      max-height: 150px;
      padding: 0;

      & .currency-input-wrapper {
        padding: 0 15px;

        & > .currency-input {
          padding: 0;
        }

        & > .custom-selector{
          &.balances {
            max-width: 130px;
            height: 75px;

            .custom-selector-title {
              max-width: 130px;
              height: 75px;

              & > span {
                width: 100%;
                max-width: 130px;
                font-size: var(--xxxl-font-size);
              }
            }
          }
        }
      }
    }

    &-title {
      display: block;
      margin-bottom: 10px;
      color: var(--hints-color);
    }
  }
}

.contacts-selector {
  font-size: var(--md-font-size);
  background-color: var(--transparent);
  border: none;
  border-radius: 5px;
  outline: none;
}

@media screen and (min-width: 760px) {
  .currency {
    &-input {
      padding: 15px 0;

      &-wrapper {
        padding: 10px 0;
      }
    }
  }

  .all-balance {
    display: flex;
    font-size: var(--md-font-size);
  }

  .transaction {
    &-title {
      font-size: var(--xl-font-size);
    }

    &-hash {
      margin-top: 20px;
      color: var(--dark-color);
      font-size: var(--sm-font-size);

      & > span {
        color: var(--hints-color);
        word-break: break-all
      }
    }
  
    &-fee {
      margin-top: 25px;
      color: var(--dark-color);
      font-size: var(--sm-font-size);
      text-align: center;
  
      & > span {
        color: var(--hints-color);
      }
    }
  
    &-wrapper {
      position: relative;
      width: 90vw;
      max-width: 560px;
      margin: 0 auto;
      margin-top: 15px;
      padding: 20px;
      background-color: var(--modal-bg-color);
      border-radius: 4px;
  
      &.open {
        display: block;
      }
  
      &.closed {
        display: none;
      }
    }
  
    &-field {
      height: auto;
      min-height: 100px;
      max-height: 200px;
      padding-top: 5px;

      &.balance {
        height: 150px;

        & .currency-input-wrapper {
          & > .custom-selector{
            &.balances {
              max-width: 140px;
              height: 75px;
  
              .custom-selector-title {
                max-width: 140px;
                height: 75px;
              }
            }
          }
        }
      }
    }
  
        
      
  }
}