header {
  width: 100%;
  height: 105px;
  padding: 16px 16px 0;
  transition: background-color $transition1;

  & > .container {
    display: grid;
    grid-row-gap: 5px;
    grid-template-rows: 35px 1fr;
    grid-template-columns: 100%;
    height: 100%;
    @media screen and (min-width: 1201px) {
      max-width: 1920px;
    }
  }

  .firstRow {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100%;

    a {
      text-decoration: none;
    }

    .headerWrapper {
      height: 35px !important;

      .projectLogo {
        width: auto !important;
        height: 100% !important;
      }

      .badge {
        margin-top: -30px;
        padding: 0;
        color: $lightViolet !important;
        font-weight: 400;
        font-size: 12px !important;
        letter-spacing: 1px;
        text-transform: uppercase;
        background: transparent !important;
      }

      @media (max-width: $mobile) {
        padding-top: 0 !important;

        .projectLogo {
          max-width: 130px !important;
          object-fit: contain !important;
        }
        .badge {
          margin-top: 0 !important;
        }
      }
    }

    .linksContainer {
      display: grid;
      grid-auto-columns: max-content;
      grid-auto-flow: column;
      grid-gap: 25px;
      grid-template-rows: 100%;
      align-items: center;
      width: max-content;
      height: 100%;
      @media screen and (min-width: $mobile) and (max-width: 992px) {
        grid-gap: 15px;

        .mainLink {
          font-size: 16px !important;
        }
      }

      .mainLink {
        font-size: 18px;
        text-decoration: none;
        transition: color $transition1;

        i {
          padding-left: 2px;
          color: $gray;
          font-size: 12px;
        }
      }
    }

    .userDropdown {
      display: grid;
      grid-gap: 15px;
      grid-template-rows: 100%;
      grid-template-columns: max-content 25px 16px;
      align-items: center;
      box-sizing: border-box;
      width: max-content;
      height: 35px;
      padding-right: 13px;
      padding-left: 10px;
      border-radius: 15px;
      cursor: pointer;
      transition: background-color $transition1;

      &:hover {
        background-color: transparentize($color: $gray, $amount: 0.8);
      }

      .address {
        font-size: 18px;
        line-height: 25px;
        white-space: nowrap;
      }

      .userImgContainer {
        width: 25px;
        height: 25px;

        img {
          width: 100%;
          height: 100%;
        }
      }

      .dropdownArrow {
        color: darken($color: $gray, $amount: 15);
        font-size: 20px;
        text-align: right;
      }

      @media screen and (max-width: 768px) {
        grid-template-columns: 25px 16px;
        padding-right: 0;

        .address {
          display: none;
        }
      }
    }
  }

  .secondRow {
    display: grid;
    grid-gap: 50px;
    grid-template-rows: 100%;
    grid-template-columns: repeat(3, max-content);
    justify-content: center;
    height: auto;
    @media (max-width: $mobile) {
      grid-gap: 20px;

      a {
        font-size: 14px !important;
      }
    }

    a {
      position: relative;
      display: block;
      font-weight: 400;
      font-size: 18px;
      line-height: 49px;
      text-align: center;
      text-decoration: none !important;
      transition: $transition1;

      &.nuxt-link-exact-active, &:hover {
        &::after {
          background: $lightViolet;
        }
      }

      &::after {
        position: absolute;
        bottom: -2px;
        left: 0;
        width: 100%;
        height: 4px;
        background: $tempTransparent;
        content: "";
      }
    }
  }

  .addressQR {
    display: block;
    width: 210px;
    height: 210px;
    margin: 20px auto;

    @media (max-width: $mobile) {
      width: 160px;
      height: 160px;
    }
  }
}

body.inkline.-light header {
  background: $white;

  .secondRow a, .linksContainer .mainLink {
    color: $black;
  }
}

body.inkline.-dark header {
  background: $darkViolet;

  .secondRow a, .linksContainer .mainLink {
    color: $white;
  }
}
