body {
  .indexHeader {
    z-index: 9;
    width: 100%;
    height: $headerHeight;
    background: rgba(24, 24, 32, 0.01) -moz-linear-gradient(top, rgba(24, 24, 32, 0.9), rgba(24, 24, 32, 0.7));
    box-shadow: 1px 1px 5px 10px rgba(0, 0, 0, 0.01);

    .linksContainer {
      .linkItem {
        font-weight: normal;
        line-height: 2rem;
        text-decoration: none;
        cursor: pointer;
        transition: color $transition1;
        will-change: color;

        &:hover {
          color: $lightViolet !important;
        }
      }
    }

    .container,
    .row {
      height: 100%;
    }

    .container {
      padding: 0 16px;
    }

    .column {
      display: flex;
      align-items: center;
      height: 100%;
    }

    .headerWrapper {
      padding-top: 0 !important;
      height: 100%;

      .projectLogo {
        width: auto;
        min-width: 90px;
        max-width: none;
        height: 30px;
      }
    }

    .dropdown {
      padding: 0;

      &.-dark {
        & > .menu[data-popper-placement="bottom"] {
          .arrow::after {
            border-bottom-color: $mediumViolet !important;
          }

          &.firstElementHovered {
            .arrow::after {
              border-bottom-color: $darkViolet !important;
            }
          }
        }
      }

      @media screen and (min-width: $mobile+1) and (max-width: $tablet) {
        padding: 0 5px;
        font-size: $fontSizeRegular;
      }

      & > .menu[data-popper-placement="bottom"] {
        min-width: 150px;
        padding: 0;
        background: $mediumViolet;
        border-color: $darkViolet;
        border-radius: $borderRadius;
        transition: $transition1;

        .arrow {
          transition: $transition1;

          &::after {
            border-bottom-width: 5px !important;
            transition: $transition1;
          }
        }

        .item {
          color: $white;
          font: normal normal 16px/2rem $firaSans;
          transition: color $transition1;


          &:hover {
            color: $lightViolet;
            background-color: lighten($darkViolet, 5) !important;
            transition: color, background-color $transition1 !important;
            will-change: color, backgroud;
          }

          &:first-of-type {
            overflow: hidden;
            border-radius: $borderRadius $borderRadius 0 0 !important;
          }

          &:last-of-type {
            overflow: hidden;
            border-radius: 0 0 $borderRadius $borderRadius !important;
          }
        }
      }

      @media screen and (max-width: $mobile) {
        .dropdown {
          .dropDownHandler {
            display: inline-flex;
            flex-wrap: nowrap;
          }

          & > .menu {
            position: fixed;
            left: -35px;
            z-index: 1004;
            width: 100vw;
            margin: 120px;
          }
        }
      }
    }

    .dropDownHandler {
      display: flex;
      flex-wrap: nowrap;
      align-items: center;
      padding: 10px;
      cursor: pointer;
      transition: color $transition1;

      &::before {
        top: 0;
        left: 0;
        content: "";
      }

      i.fal {
        padding-left: 5px;
        font-size: 15px;
      }

      &:hover {
        color: $lightViolet;
      }
    }

    .mainIndexHeader {
      width: 100%;
      height: 100%;
    }

    @media (max-width: $mobile) {
      padding: 0 !important;
      .column {
        padding: 0 !important;
      }
      .mobileIndexHeader {
        padding: 1rem;
        margin: 0 auto !important;

        .container.mobileOnly {
          margin: 0 auto !important;
          padding-left: 0;
          padding-right: 0;
        }

        .headerWrapper {
          position: relative;
          width: max-content;
          padding-top: 0 !important;

          .zkwallet-logo {
            height: 22px !important;
          }

          .badge {
            position: absolute;
            bottom: 85%;
            left: 100%;
          }
        }
      }

      &.opened {
        .mobileIndexHeader {
          padding: 0;

          .hamContainer #ham {
            transform: rotate(45deg);

            .top {
              stroke-dashoffset: -98px;
            }

            .bottom {
              stroke-dashoffset: -138px;
            }
          }
        }

        .mainIndexHeader {
          height: auto;
          min-height: 220px;
          transform: translateY(60px);
        }
      }

      .mobileIndexHeader {
        z-index: 9;
        width: 90%;
        height: 100%;
        margin: 0 auto;
        padding: 0;
        background-color: $darkViolet;
        transition: $transition1;

        .column:last-child {
          display: flex;
          align-items: center;
          justify-content: flex-end;
        }

        .hamContainer {
          width: 50px;

          #ham {
            position: relative;
            top: 3px;
            z-index: 10;
            width: 50px;
            height: auto;
            cursor: pointer;
            transition: transform 400ms;
            user-select: none;
            -webkit-tap-highlight-color: transparent;

            .line {
              transition: 400ms ease;
              fill: none;
              stroke: $white;
              stroke-width: 5.5;
              stroke-linecap: round;
            }

            .top {
              stroke-dasharray: 40 139;
            }

            .bottom {
              stroke-dasharray: 40 180;
            }
          }
        }
      }

      .mainIndexHeader {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 2;
        height: auto;
        min-height: 220px;
        padding: 10px 12px 10px;
        background-color: $darkViolet;
        transform: translateY(-100vh);
        transition: $transition1;
        will-change: transform;

        .column {
          padding-right: 0 !important;
          padding-left: 0 !important;

          &:last-child {
            flex-direction: column !important;
            align-items: initial;
            justify-content: flex-start !important;
          }
        }

        .socialIcons {
          display: flex;
          align-items: center;
          justify-content: space-between;
          width: 100%;
          margin: 27px 0;
          text-align: center;
        }

        .linksContainer {
          position: static;
          flex-direction: column;
          grid-gap: 5px;
          align-items: initial;
          justify-content: flex-start;
          width: 100%;
          padding-bottom: 20px;
          text-align: left;
          transform: none;

          a {
            padding: 10px 0;
            font-size: 18px;
            text-align: left;

            &:first-child {
              padding-top: 0;
            }

            &:last-child {
              padding-bottom: 0;
            }
          }

          .dropdown {
            width: 100%;

            & > .dropDownHandler {
              padding: 10px 0;
              font-size: 18px;
              text-align: left;
            }

            & > .menu[data-popper-placement="bottom"] {
              background-color: $bgSecondary;
              position: initial !important;
              width: 100% !important;

              & > span.arrow {
                display: none;
              }

              & > a.item {
                padding: 9px 15px;
                font-size: 18px;
              }
            }
          }
        }
      }

      .dropdown {
        height: 52px;
        overflow: hidden;
        transition: height $transition1;

        &.opened {
          height: 254px;
        }
      }
    }
  }
}

.mainIndexHeader,
.mainFooter {
  .linksContainer {
    position: absolute;
    top: 50%;
    left: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translate(-50%, -50%);

    a.linkItem {
      padding: 0 10px;
      color: $white;
      white-space: nowrap;

      @media screen and (min-width: $mobile+1) and (max-width: $tablet) {
        padding: 0 5px;
        font-size: 14px;
      }
    }
  }
}

body.inkline.-light {
  .indexHeader {
    background-color: $white;

    .mobileIndexHeader {
      background-color: $white;

      .hamContainer #ham .line {
        stroke: $black;
      }
    }

    .mainIndexHeader {
      background-color: $white;

      .linksContainer {
        a.linkItem {
          color: $violet !important;

          &:hover {
            color: $lightViolet !important;
          }
        }
      }

      .dropdown .menu {
        background-color: $bgLight;
        border: none;
        box-shadow: $layerShadow;

        .item {
          color: $violet !important;

          &:hover {
            color: $lightViolet !important;
            background-color: darken($white, 5) !important;
            border-color: darken($bgLight, 5) !important;
          }
        }
      }
    }
  }
}
