.headerWrapper {
  justify-content: center;

  .projectLogo {
    display: block;

    .logoLetter {
      transition: $transition1;
    }
  }

  .badge {
    margin-top: -40px;
    padding: 0 !important;
    color: $lightViolet !important;
    font-weight: 400;
    font-size: 12px !important;
    letter-spacing: 1px;
    text-transform: uppercase;
    background: transparent !important;
    border-radius: 27px;
    transform: translateY(3.5px);
    cursor: default;
  }

  @media (max-width: $mobile) {
    width: 85%;
    padding-top: 50px;
  }
}
