@import "../variables";

.bn-onboard-custom {
  z-index: 10;

  header.bn-onboard-modal-content-header {
    margin-bottom: 1rem !important;

    & > h3 {
      margin-left: 0 !important;
    }
  }

  .bn-onboard-modal-content {
    max-height: calc(100vh - 2.66em);
    @media (max-width: $mobile) {
      height: 100vh !important;
      max-height: 100vh !important;
      border-radius: 0 !important;
      .bn-onboard-modal-content-header {
        margin: 1rem 0 !important;
      }
    }
  }

  &.bn-onboard-dark-mode {
    background-color: $darkViolet !important;

    .bn-onboard-prepare-error {
      background-color: transparent !important;
    }

    .bn-onboard-selected-wallet {
      background-color: transparentize($color: $gray, $amount: 0.95) !important;
    }
  }

  & > p {
    margin-top: 0.25rem !important;
  }

  ul.bn-onboard-modal-select-wallets {
    max-height: 50vh !important;
    margin: 0.5rem auto !important;
    padding-bottom: 0.5rem !important;
    overflow-y: scroll;
    background-color: transparentize($color: $color-secondary, $amount: 0.95);
    border-radius: 8px;
  }

  .bn-onboard-custom.bn-onboard-select-wallet-definition {
    font-size: 14px;

    span {
      display: block;
      margin: 5px 0;
      font-weight: bold;

      a {
        color: #8c8dfc !important;
      }
    }
  }

  .bn-onboard-select-wallet-info {
    font-weight: bold;
    font-size: 16px;
  }

  .bn-onboard-icon-button {
    border-radius: 8px;
  }

  .bn-onboard-selected-wallet {
    background-color: transparentize($color: $gray, $amount: 0.7) !important;

    span {
      i {
        font-style: normal;
        text-transform: capitalize;
        text-decoration: none;
      }
    }
  }

  .bn-onboard-prepare-button {
    color: $white !important;
    background-color: $violet;
    border-color: $violet !important;
    border-radius: 4px;
    transition: $transition1;

    &:hover {
      background-color: $lightViolet !important;
      border-color: $lightViolet;
    }
  }

  .bn-onboard-prepare-error {
    background-color: transparent !important;
  }

  .bn-onboard-dark-mode-background-hover:hover {
    background-color: $violet !important;
  }

  .bn-onboard-dark-mode-background {
    background-color: $violet !important;
  }

  .bn-onboard-modal-content-header {
    background-color: transparent !important;
  }

  .bn-onboard-modal-content-header {
    height: auto;
    margin-bottom: 2em;
    padding: 0;
  }

  .bn-onboard-modal-content-close {
    top: 1.65em;
    width: 25px;
    height: 25px;

    svg {
      width: 100%;
      height: 100%;
    }
  }

  .bn-onboard-select-wallet-info {
    color: $lightViolet !important;
  }

  .bn-onboard-custom.bn-onboard-modal-content-header-icon {
    display: none !important;
    visibility: hidden !important;
  }

}

body.-dark {
  .walletconnect-modal__footer a {
    color: $darkViolet !important;
  }
}
