@import "../variables";

.bn-onboard-custom {
  z-index: 10;

  header.bn-onboard-modal-content-header {
    margin-bottom: 1rem !important;

    & > h3 {
      margin-left: 0 !important;
    }
  }

  .bn-onboard-modal-content {
    max-height: calc(100vh - 2.66em);
    @media (max-width: $mobile) {
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding-top: 5vh;
      height: 100vh !important;
      max-height: 100vh !important;
      border-radius: 0 !important;
      .bn-onboard-modal-content-header {
        margin: 1rem 0 !important;
      }
      .bn-onboard-select-wallet-definition {
        padding-bottom: calc(5.5vh + 55px);
      }
    }
  }

  &.bn-onboard-dark-mode {
    background-color: $darkViolet !important;

    .bn-onboard-prepare-error {
      background-color: transparent !important;
    }

    .bn-onboard-selected-wallet {
      background-color: transparentize($color: $gray, $amount: 0.95) !important;
    }
  }

  & > p {
    margin-top: 0.25rem !important;
  }

  ul.bn-onboard-modal-select-wallets {
    max-height: 50vh !important;
    margin: 0.5rem auto !important;
    padding-bottom: 0.5rem !important;
    overflow-y: scroll;
    background-color: transparentize($color: $color-secondary, $amount: 0.95);
    border-radius: 8px;
  }

  .bn-onboard-custom.bn-onboard-select-wallet-definition {
    font-size: 14px;

    span {
      display: block;
      margin: 5px 0;
      font-weight: bold;

      a {
        color: #8c8dfc !important;
      }
    }
  }

  .bn-onboard-select-wallet-info {
    font-weight: bold;
    font-size: 16px;
  }

  .bn-onboard-selected-wallet {
    background-color: transparentize($color: $gray, $amount: 0.7) !important;

    span {
      i {
        font-style: normal;
        text-transform: capitalize;
        text-decoration: none;
      }
    }
  }

  .bn-onboard-prepare-button {
    color: $white !important;
    background-color: $violet;
    border-color: $violet !important;
    border-radius: 4px;
    transition: $transition1;

    &:hover {
      background-color: $lightViolet !important;
      border-color: $lightViolet;
    }
  }

  .bn-onboard-prepare-error {
    background-color: transparent !important;
  }

  .bn-onboard-dark-mode-background-hover:hover {
    background-color: $violet !important;
  }

  .bn-onboard-dark-mode-background {
    background-color: $violet !important;
  }

  .bn-onboard-modal-content-header {
    background-color: transparent !important;
  }

  .bn-onboard-modal-content-header {
    height: auto;
    margin-bottom: 2em;
    padding: 0;
  }

  .bn-onboard-modal-content-close {
    top: 1.65em;
    width: 25px;
    height: 25px;
    @media (max-width: $mobile) {
      position: fixed;
      top: initial;
      bottom: 3.5vh;
      left: 0;
      right: 0;
      margin: 0 auto;
      width: 55px;
      height: 55px;
      border-radius: 50%;
      background: $lightViolet;
      box-shadow: 0 2px 12px $lightViolet;
      padding: 18px;

      svg path {
        fill: $white;
      }
    }

    svg {
      width: 100%;
      height: 100%;
    }
  }

  .bn-onboard-select-wallet-info {
    color: $lightViolet !important;
  }

  .bn-onboard-custom.bn-onboard-modal-content-header-icon {
    display: none !important;
    visibility: hidden !important;
  }
}
.bn-onboard-modal {
  @media screen and (max-width: $mobile) {
    button.bn-onboard-modal.bn-onboard-modal-content {
      margin: 0.25rem 0;
      padding: 0.5rem;
    }
    .bn-onboard-modal-content {
      padding-bottom: 0;
      header.bn-onboard-custom.bn-onboard-modal-content-header {
        margin: 1rem 0 !important;
        h3 {
          margin: 0 !important;
        }
      }
      .bn-onboard-custom.bn-onboard-select-description {
        margin: 0 0 0.5rem;
        padding: 0 0 0.5rem;
      }
      ul.bn-onboard-custom.bn-onboard-modal-select-wallets {
        position: relative;
        height: 100%;
        //max-height: calc(100% - 150px - 2rem) !important;
        margin: 0;
        padding: 0;

        @media (max-height: 600px) {
          max-height: 44vh !important;
        }
      }
      .bn-onboard-custom.bn-onboard-select-info-container {
        margin: 1rem 0 0.5rem;
        padding: 0.75rem 0 0.5rem;
        border-top: 0.5px solid $lightViolet;
      }
      .bn-onboard-modal-content-close {
        top: 2rem;
      }

    }
  }
}

body {
  &.-dark {
    .walletconnect-modal__footer a {
      color: $darkViolet !important;
    }
    .bn-onboard-custom {
      .bn-onboard-modal-content-close {
        @media (max-width: $mobile) {
          background: $violet;
          box-shadow: 0 2px 12px $violet;
        }
      }
    }
  }
  &.-light {
  }
}
